<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hako Owner</title>
  <link rel="stylesheet" href="stylesheet.css">
  <link rel="icon" href="hako_icon.png">
  <link href="https://fonts.googleapis.com/css?family=Londrina+Shadow" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.2.9/web3.min.js"></script>
  <script src="hako-address/Hako_abi.js"></script>
  <script src="hako-address/Hako_address.js"></script>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  <style>
    .tab-item-owner {
      font-size: 30px;
      display: inline-block;
      text-align: center;
      width: 910px;
      padding: 10px;
      margin: 0 auto;
      background-color:blanchedalmond;
      border: solid 3px saddlebrown;
      border-radius: 10px;
    }
    @media(max-width: 1023px) {
      .tab-item-owner {
        width: 466px;
      }
    }
    @media(max-width: 640px) {
      .tab-item-owner {
        font-size: 16px;
        width: 294px;
      }
    }
    @media(max-width: 320px) {
      .tab-item-owner {
        width: 174px;
      }
    }
    .hakoInfo {
      margin-bottom: 30px;
    }
    .transactions {
      margin-bottom: 30px;
    }
    .transactions h1 {
      margin-bottom: 0;
    }
    @media(max-width: 640px) {
      .transactions h2 {
        font-size: 20px;
      }
    }
    .ownerOnlyInfo {
      width: 960px;
      margin: 0 auto;
      background-color: blanchedalmond;
      border: solid 3px saddlebrown;
      border-radius: 20px;
    }
    @media(max-width: 1023px) {
      .ownerOnlyInfo {
        width: 90%;
      }
    }
    @media(max-width: 480px) {
      .ownerOnlyInfo {
        width: 98%;
      }
    }
    .ownerOnlyInfo p {
      font-size: 20px;
      color: red;
      text-align: center;
      margin-bottom: 50px;
    }
    @media(max-width: 640px) {
      .ownerOnlyInfo p {
        font-size: 16px;
      }
    }
  </style>
</head>
<body>
  <header id="header">
    <header-component></header-component>
  </header>
  <div class="container" id="owner">
    <div class="tab">
      <div class="tab-four">
        <ul>
          <li class="tab-item-owner">
            Owner Only
          </li>
        </ul>
      </div>
    </div>
    <div class="tab-content">
      <div class="tab-pane hakoInfo" v-show="isHakoOwner">       
        <h1>Hako Information</h1>
        <div class="info-content" v-cloak>
          <ul>
            <li class="infoAddress">Hako's address<br>{{hakoAddress}}</li>
            <li class="infoAddress">Hako Owner's address<br>{{hakoOwner}}</li>
            <li class="infoData">Hako's balance of token<br>{{balanceOfHako}}</li>
            <li class="infoData">Total supply of token<br>{{totalSupply}}</li>
            <li class="infoData">Hako's credit to Members<br>{{creditOfHako}}</li>
            <li class="infoData">Hako's debt to Members<br>{{debtOfHako}}</li>
            <li class="infoData">Owner's balance of token<br>{{balanceOfHakoOwner}}</li>
            <li class="infoData">Lending count<br>{{lendCount}}</li>
            <li class="infoData">Member count<br>{{memberCount}}</li>
            <li class="infoData">Upper limit<br>{{upperLimit}}</li>
          </ul>
        </div>
      </div>
      <div class="tab-pane transactions" v-show="isHakoOwner">
        <h1>Transactions</h1>
        <div class="transaction changeHakoOwner">
          <h2>change hako owner</h2>
          <p>Change hako owner to new owner<br>
          (Hako member can't be new hako owner.)</p>
          to who? <input class="question" type="text" name="to" v-model="txDataA.to"><br>
          <button class="button" @click="changeHakoOwnerCheck">check</button>
          <div v-show="isFillA">
            <p class="okCheckSentence" v-show="txDataA.ok && txDataA.active" v-cloak>{{txDataA.okCheckSentence}}</p>
            <p class="noCheckSentence" v-show="!txDataA.ok && txDataA.active" v-cloak>{{txDataA.noCheckSentence}}</p>
            <button class="button" @click="changeHakoOwner" v-show="txDataA.ok && txDataA.active">change</button>
          </div>
          <p v-cloak>{{txDataA.txStatus}}</p>
        </div> 
        <div class="transaction changeUpperLimit">
          <h2>change upper limit</h2>
          <p>Change the upper limit of borrowing and credit creation value</p>
          new upper limit <input class="question" type="text" name="value" v-model="txDataB.value"><br>
          <button class="button" @click="changeUpperLimitCheck">check</button>
          <div v-show="isFillB">
            <p class="okCheckSentence" v-show="txDataB.ok && txDataB.active" v-cloak>{{txDataB.okCheckSentence}}</p>
            <p class="noCheckSentence" v-show="!txDataB.ok && txDataB.active" v-cloak>{{txDataB.noCheckSentence}}</p>
            <button class="button" @click="changeUpperLimit" v-show="txDataB.ok && txDataB.active">change</button>
          </div>
          <p v-cloak>{{txDataB.txStatus}}</p>
        </div>
        <div class="transaction getReward">
          <h2>get reward</h2>
          <p>Get token from Hako as reward<br>
          (You can get it every 24 hours.)</p>
          <button class="button" @click="getRewardCheck">check</button>
          <p class="okCheckSentence" v-show="txDataE.ok && txDataE.active" v-cloak>{{txDataE.okCheckSentence}}</p>
          <p class="noCheckSentence" v-show="!txDataE.ok && txDataE.active" v-cloak>{{txDataE.noCheckSentence}}</p>
          <button class="button" @click="getReward" v-show="txDataE.ok && txDataE.active">get</button>
          <p v-cloak>{{txDataE.txStatus}}</p>
        </div>
      </div>
      <div class="tab-pane transactions" v-show="isHakoOwner"> 
        <h1>History</h1>
        <div class="transaction">
          <h2>owner history</h2>
          <div class="history">
            <p>You can watch hako owner transition.</p>     
            <button class="button" @click="watchOwnerLog">watch</button><br>
            <div v-cloak>
              <p v-show="txDataC.loading">Now searching history...</p>
              <div v-show="!txDataC.loading">
                <div v-show="txDataC.event.length > 0">
                  <div class="log" v-for="log in txDataC.logs" :key="log.id" v-show="txDataC.active">
                    <ul>
                      <li>Hako owner changed from {{log.oldOwner}} to {{log.newOwner}}.</li>
                      <li>Transaction Hash: {{log.txHash}}</li>
                      <li>Block: {{log.blockN.blockNumber}}</li>
                      <li>Timestamp: {{log.time}}</li>
                    </ul>
                  </div>
                </div>
                <div v-show="txDataC.event.length === 0">
                  <p class="noHistory" v-show="txDataC.active">No History</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="transaction">
          <h2>upper limit history</h2>
          <div class="history">
            <p>You can watch upper limit transition.</p>
            <button class="button" @click="watchUpperLog">watch</button><br>
            <div v-cloak>
              <p v-show="txDataD.loading">Now searching history...</p>
              <div v-show="!txDataD.loading">
                <div v-show="txDataD.event.length > 0">
                  <div class="log" v-for="log in txDataD.logs" :key="log.id" v-show="txDataD.active">
                    <ul>
                      <li>Hako owner, {{log.owner}}, changed upper limit to {{log.upperLimit}}.</li>
                      <li>Transaction Hash: {{log.txHash}}</li>
                      <li>Block: {{log.blockN.blockNumber}}</li>
                      <li>Timestamp: {{log.time}}</li>
                    </ul>
                  </div>
                </div>
                <div v-show="txDataD.event.length === 0">
                  <p class="noHistory" v-show="txDataD.active">No History</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="transaction">
          <h2>owner's reward history</h2>
          <div class="history">
            <p>You can watch the record of token that hako owner got as reward.</p>
            <button class="button" @click="watchRewardLog">watch</button><br>
            <div v-cloak>
              <p v-show="txDataF.loading">Now searching history...</p>
              <div v-show="!txDataF.loading">
                <div v-show="txDataF.event.length > 0">
                  <div class="log" v-for="log in txDataF.logs" :key="log.id" v-show="txDataF.active">
                    <ul>
                      <li>Hako owner, {{log.owner}}, got {{log.reward}} token as reward.</li>
                      <li>Transaction Hash: {{log.txHash}}</li>
                      <li>Block: {{log.blockN.blockNumber}}</li>
                      <li>Timestamp: {{log.time}}</li>
                    </ul>
                  </div>
                </div>
                <div v-show="txDataF.event.length === 0">
                  <p class="noHistory" v-show="txDataF.active">No History</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane ownerOnlyInfo" v-show="!isHakoOwner">       
        <h1>Owner Only</h1>
        <p>This page is hako owner only!</p>
      </div>
    </div>
  </div>
  <footer id="footer">
    <footer-component></footer-component>
  </footer>
  <script src="components/header_index.js"></script>
  <script src="components/footer.js"></script>
  <script>
    var hako;
    var hakoOwner;
    var userAccount;
    var balanceOfHako;
    var totalSupply;
    var creditOfHako;
    var debtOfHako;
    var balanceOfHakoOwner;
    var memberCount;
    var upperLimit;
    async function startApp() {
      hako = new web3.eth.Contract(hakoABI, hakoAddress);
      hakoOwner = await hako.methods.hakoOwner().call();
      userAccount = await web3.eth.getCoinbase();
      ownerVM.hakoOwner = hakoOwner;
      ownerVM.userAccount = userAccount;
      balanceOfHako = await hako.methods.balanceOfHako().call();
      totalSupply = await hako.methods.totalSupply().call();
      creditOfHako = await hako.methods.creditOfHako().call();
      debtOfHako = await hako.methods.debtOfHako().call();
      balanceOfHakoOwner = await hako.methods.balanceOfHakoOwner().call();
      lendCount = await hako.methods.lendCount().call();
      memberCount = await hako.methods.memberCount().call();
      upperLimit = await hako.methods.upperLimit().call();
      ownerVM.displayHakoInfo();
    }

    window.addEventListener('load', function () {
      if (typeof web3 !== 'undefined') {
        web3 = new Web3(window.ethereum);
        console.log('web3 created!');
      } else {
        alert('install wallet!');
        console.log('install wallet!');
      }
      startApp();
    });

    var ownerVM = new Vue({
      el: '#owner',
      data: {
        hakoOwner: '-',
        userAccount: '-',
        hakoAddress: '-',
        totalSupply: '-',
        balanceOfHako: '-',
        creditOfHako: '-',
        debtOfHako: '-',
        balanceOfHakoOwner: '-',
        lendCount: '-',
        memberCount: '-',
        upperLimit: '-',
        txDataA: {
          to: '',
          memberOrNotOfTo: '',
          noCheckSentence: '',
          okCheckSentence: '',
          ok: false,
          active: false,
          txData: {
            to: 'initial'
          },
          txStatus: ''
        },
        txDataB: {
          value: '',
          noCheckSentence: '',
          okCheckSentence: '',
          ok: false,
          active: false,
          txData: {
            value: 'initial'
          },
          txStatus: ''
        },
        txDataC: {
          event: '',
          loading: false,
          active: false,
          txHash: '',
          blockN: '',
          blockData: '',
          logs: {
            0: {
              oldOwner: '',
              newOwner: '',
              txHash: '',
              blockN: '',
              blockData: '',
              time: ''
            }
          }
        },
        txDataD: {
          event: '',
          loading: false,
          active: false,
          txHash: '',
          blockN: '',
          blockData: '',
          logs: {
            0: {
              owner: '',
              upperLimit: '',
              txHash: '',
              blockN: '',
              blockData: '',
              time: ''
            }
          }
        },
        txDataE: {
          rewardTime: '',
          rewardValue: '',
          readyTime: '',
          noCheckSentence: '',
          okCheckSentence: '',
          ok: false,
          active: false,
          txStatus: ''
        },
        txDataF: {
          event: '',
          loading: false,
          active: false,
          txHash: '',
          blockN: '',
          blockData: '',
          logs: {
            0: {
              owner: '',
              reward: '',
              txHash: '',
              blockN: '',
              blockData: '',
              time: ''
            }
          }
        }
      },
      methods: {
        displayHakoInfo: function() {
          this.hakoAddress = hakoAddress;
          this.balanceOfHako = Number(balanceOfHako).toLocaleString();
          this.totalSupply = Number(totalSupply).toLocaleString();
          this.creditOfHako = Number(creditOfHako).toLocaleString();
          this.debtOfHako = Number(debtOfHako).toLocaleString();
          this.balanceOfHakoOwner = Number(balanceOfHakoOwner).toLocaleString();
          this.lendCount = Number(lendCount).toLocaleString();
          this.memberCount = Number(memberCount).toLocaleString();
          this.upperLimit = Number(upperLimit).toLocaleString();
        },
        changeHakoOwnerCheck: async function() {
          if (this.txDataA.active === true) {
            this.txDataA.active = false;
            return;
          }
          this.txDataA.ok = false;
          if (!this.txDataA.to) {
            this.txDataA.noCheckSentence = "Please input a value!";
            this.txDataA.txData.to = this.txDataA.to;
            this.txDataA.active = true;
            return;
          }
          try {
            this.txDataA.memberOrNotOfTo = await hako.methods.memberCheckOf(this.txDataA.to).call();
          } catch (error) {
            this.txDataA.noCheckSentence = "Please input an address exactly!";
            this.txDataA.txData.to = this.txDataA.to;
            this.txDataA.active = true;
            return;
          }
          if (this.txDataA.to.toUpperCase() === userAccount.toUpperCase()) {
            this.txDataA.noCheckSentence = 
            "NO! <" + this.txDataA.to + "> is you!";
          } else if (this.txDataA.memberOrNotOfTo === '1') {
            this.txDataA.noCheckSentence = 
            "NO! <" + this.txDataA.to + "> is a member! Member account can't be hako owner!";
          } else {
            this.txDataA.okCheckSentence = 
            "OK! You, the current hako owner, change owner to <" + this.txDataA.to + ">!";
            this.txDataA.ok = true;
          }
          this.txDataA.txData.to = this.txDataA.to;
          this.txDataA.active = true;
        },
        changeHakoOwner: function() {
          this.txDataA.txStatus = "Changing hako owner on the blockchain. This may take a while...";
          return hako.methods.changeHakoOwner(this.txDataA.to)
            .send({ from: userAccount })
            .on("receipt", function (receipt) {
              ownerVM.txDataA.txStatus = "";
              alert('Transaction successed!');
            })
            .on("error", function (error) {
              ownerVM.txDataA.txStatus = "";
              alert('Transaction errored!');
            });
        },
        changeUpperLimitCheck: async function() {
          if (this.txDataB.active === true) {
            this.txDataB.active = false;
            return;
          }
          this.txDataB.ok = false;
          if (!this.txDataB.value) {
            this.txDataB.noCheckSentence = "Please input a value!";
            this.txDataB.txData.value = this.txDataB.value;
            this.txDataB.active = true;
            return;
          }
          if (isNaN(this.txDataB.value)) {
            this.txDataB.noCheckSentence = "Please input a value as number!";
            this.txDataB.txData.value = this.txDataB.value;
            this.txDataB.active = true;
            return;
          }
          if (Number(this.txDataB.value) <= 0) {
            this.txDataB.noCheckSentence = "Please input a value as positive number!";
            this.txDataB.txData.value = this.txDataB.value;
            this.txDataB.active = true;
            return;
          }
          if (!Number.isInteger(Number(this.txDataB.value))) {
            this.txDataB.noCheckSentence = "Please input a value as integer!";
            this.txDataB.txData.value = this.txDataB.value;
            this.txDataB.active = true;
            return;
          }
          this.txDataB.okCheckSentence = 
          "OK! You, the current hako owner, change the upper limit to " + Number(this.txDataB.value).toLocaleString() + "!";
          this.txDataB.ok = true;
          this.txDataB.txData.value = this.txDataB.value;
          this.txDataB.active = true;
        },
        changeUpperLimit: function() {
          this.txDataB.txStatus = "Changing upper limit on the blockchain. This may take a while...";
          return hako.methods.changeUpperLimit(Number(this.txDataB.value))
            .send({ from: userAccount })
            .on("receipt", function (receipt) {
              ownerVM.txDataB.txStatus = "";
              alert('Transaction successed!');
            })
            .on("error", function (error) {
              ownerVM.txDataB.txStatus = "";
              alert('Transaction errored!');
            });
        },
        getRewardCheck: async function() {
          if (this.txDataE.active === true) {
            this.txDataE.active = false;
            return;
          }
          this.txDataE.ok = false;
          this.txDataE.rewardTime = await hako.methods.rewardTime().call();
          this.txDataE.rewardValue = Math.floor(Number(balanceOfHako) / 100);
          this.txDataE.readyTime = String(new Date((Number(this.txDataE.rewardTime) + 86400) * 1000));
          if ((Date.now() / 1000) < Number(this.txDataE.rewardTime) + 86400) {
            this.txDataE.noCheckSentence = 
            "NO! 24 hours is yet to be passed! Please wait until " + this.txDataE.readyTime + "!";
          } else {
            this.txDataE.okCheckSentence = 
            "OK! You, the current hako owner, get " + this.txDataE.rewardValue.toLocaleString() + " token as reward!";
            this.txDataE.ok = true;
          }
          this.txDataE.active = true;
        },
        getReward: function() {
          this.txDataE.txStatus = "Getting reward on the blockchain. This may take a while...";
          return hako.methods.getReward()
            .send({ from: userAccount })
            .on("receipt", function (receipt) {
              ownerVM.txDataE.txStatus = "";
              alert('Transaction successed!');
            })
            .on("error", function (error) {
              ownerVM.txDataE.txStatus = "";
              alert('Transaction errored!');
            });
        },
        watchOwnerLog: async function() {
          if (this.txDataC.active === true) {
            this.txDataC.active = false;
            return;
          }
          if (this.txDataC.event) {
            this.txDataC.active = true;
            return;
          }
          this.txDataC.loading = true;
          this.txDataC.event = await hako.getPastEvents("ChangeHakoOwner", {fromBlock: 0, toBlock: "latest"});
          if (this.txDataC.event.length === 0) {
            this.txDataC.active = true;
            this.txDataC.loading = false;
            return;
          }
          for (let i = 0; i < this.txDataC.event.length; i++) {
            this.txDataC.logs[i].oldOwner = "<" + this.txDataC.event[i].returnValues[0] + ">";
            this.txDataC.logs[i].newOwner = "<" + this.txDataC.event[i].returnValues[1] + ">";
            this.txDataC.logs[i].txHash = this.txDataC.event[i].transactionHash;
            this.txDataC.logs[i].blockN = await web3.eth.getTransaction(this.txDataC.logs[i].txHash);
            this.txDataC.logs[i].blockData = await web3.eth.getBlock(this.txDataC.logs[i].blockN.blockNumber);
            this.txDataC.logs[i].time = String(new Date(this.txDataC.logs[i].blockData.timestamp * 1000));
            if (i + 1 != this.txDataC.event.length) {
              this.txDataC.logs[i + 1] = {
                oldOwner: '',
                newOwner: '',
                txHash: '',
                blockN: '',
                blockData: '',
                time: ''
              }
            }
          }
          this.txDataC.active = true;
          this.txDataC.loading = false;
        },
        watchUpperLog: async function() {
          if (this.txDataD.active === true) {
            this.txDataD.active = false;
            return;
          }
          if (this.txDataD.event) {
            this.txDataD.active = true;
            return;
          }
          this.txDataD.loading = true;
          this.txDataD.event = await hako.getPastEvents("ChangeUpperLimit", {fromBlock: 0, toBlock: "latest"});
          if (this.txDataD.event.length === 0) {
            this.txDataD.active = true;
            this.txDataD.loading = false;
            return;
          }
          for (let i = 0; i < this.txDataD.event.length; i++) {
            this.txDataD.logs[i].owner = "<" + this.txDataD.event[i].returnValues[0] + ">";
            this.txDataD.logs[i].upperLimit = Number(this.txDataD.event[i].returnValues[1]).toLocaleString();
            this.txDataD.logs[i].txHash = this.txDataD.event[i].transactionHash;
            this.txDataD.logs[i].blockN = await web3.eth.getTransaction(this.txDataD.logs[i].txHash);
            this.txDataD.logs[i].blockData = await web3.eth.getBlock(this.txDataD.logs[i].blockN.blockNumber);
            this.txDataD.logs[i].time = String(new Date(this.txDataD.logs[i].blockData.timestamp * 1000));
            if (i + 1 != this.txDataD.event.length) {
              this.txDataD.logs[i + 1] = {
                owner: '',
                upperLimit: '',
                txHash: '',
                blockN: '',
                blockData: '',
                time: ''
              }
            }
          }
          this.txDataD.active = true;
          this.txDataD.loading = false;
        },
        watchRewardLog: async function() {
          if (this.txDataF.active === true) {
            this.txDataF.active = false;
            return;
          }
          if (this.txDataF.event) {
            this.txDataF.active = true;
            return;
          }
          this.txDataF.loading = true;
          this.txDataF.event = await hako.getPastEvents("GetReward", {fromBlock: 0, toBlock: "latest"});
          if (this.txDataF.event.length === 0) {
            this.txDataF.active = true;
            this.txDataF.loading = false;
            return;
          }
          for (let i = 0; i < this.txDataF.event.length; i++) {
            this.txDataF.logs[i].owner = "<" + this.txDataF.event[i].returnValues[0] + ">";
            this.txDataF.logs[i].reward = Number(this.txDataF.event[i].returnValues[1]).toLocaleString();
            this.txDataF.logs[i].txHash = this.txDataF.event[i].transactionHash;
            this.txDataF.logs[i].blockN = await web3.eth.getTransaction(this.txDataF.logs[i].txHash);
            this.txDataF.logs[i].blockData = await web3.eth.getBlock(this.txDataF.logs[i].blockN.blockNumber);
            this.txDataF.logs[i].time = String(new Date(this.txDataF.logs[i].blockData.timestamp * 1000));
            if (i + 1 != this.txDataF.event.length) {
              this.txDataF.logs[i + 1] = {
                owner: '',
                reward: '',
                txHash: '',
                blockN: '',
                blockData: '',
                time: ''
              }
            }
          }
          this.txDataF.active = true;
          this.txDataF.loading = false;
        }
      },
      computed: {
        isHakoOwner() {
          return this.hakoOwner.toUpperCase() === this.userAccount.toUpperCase();
        },
        isFillA() {
          if (this.txDataA.to === this.txDataA.txData.to) {
            return true;
          } else {
            this.txDataA.active = false;
            return true;
          }
        },
        isFillB() {
          if (this.txDataB.value === this.txDataB.txData.value) {
            return true;
          } else {
            this.txDataB.active = false;
            return true;
          }
        }
      }
    });
  </script>
</body>
</html>