<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hako Finance</title>
  <link rel="stylesheet" href="stylesheet.css">
  <link rel="icon" href="hako_icon.png">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.2.9/web3.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Londrina+Shadow" rel="stylesheet">
  <script src="hako-address/Hako_abi.js"></script>
  <script src="hako-address/Hako_address.js"></script>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
</head>
<body>
  <header>
    <div class="header-item">
      <div class="header-logo">
        <a href="index.html">Hako Finance</a>
      </div>
      <p class="introduction">
        Transfer, get, lend, borrow, and credit creation, all transactions are realized on Hako Finance!<br>
        Welcome to next-generation DeFi!
      </p>
    </div>
  </header>
  <div class="container" id="app">
    <div class="tab">
      <div class="tab-four">
        <ul>
          <li class="tab-item" v-for="(item, index) in items" :key="index" :class="{active: active === index}" @click="activate(index)" v-cloak>
            {{ item }}
          </li>
        </ul>
      </div>
    </div>
    <div class="tab-content">
      <div class="tab-pane hakoInfo" v-show="active === 0">
        <h1>Hako Information</h1>
        <div class="info-content" v-show="!isNotMember">
          <ul>
            <li class="infoAddress" v-cloak>Hako's address<br>{{hakoData.hakoAddress}}</li>
            <li class="infoData" v-cloak>Hako's balance of token<br>{{hakoData.balanceOfHako}}</li>
            <li class="infoData" v-cloak>Total supply of token<br>{{hakoData.totalSupply}}</li>
            <li class="infoData" v-cloak>Hako's credit to Members<br>{{hakoData.creditOfHako}}</li>
            <li class="infoData" v-cloak>Hako's debt to Members<br>{{hakoData.debtOfHako}}</li>
            <li class="infoData" v-cloak>Member count<br>{{hakoData.memberCount}}</li>
            <li class="infoData" v-cloak>Upper limit<br>{{hakoData.upperLimit}}</li>
          </ul>
        </div>
        <div class="info-content" v-show="isNotMember">
          <ul>
            <li class="infoAddress" v-cloak>Hako's address<br>{{hakoData.hakoAddress}}</li>
            <li class="infoData" v-cloak>Hako's balance of token<br>{{hakoData.balanceOfHako}}</li>
            <li class="infoData" v-cloak>Total supply of token<br>{{hakoData.totalSupply}}</li>
            <li class="infoData" v-cloak>Hako's credit to Members<br><span>{{hakoData.creditOfHako}}</span></li>
            <li class="infoData" v-cloak>Hako's debt to Members<br><span>{{hakoData.debtOfHako}}</span></li>
            <li class="infoData" v-cloak>Member count<br><span>{{hakoData.memberCount}}</span></li>
            <li class="infoData" v-cloak>Upper limit<br><span>{{hakoData.upperLimit}}</span></li>
          </ul>
        </div>
      </div>
      <div class="tab-pane userInfo" v-show="active === 1">
        <h1>User Information</h1>
        <div class="info-content" v-show="!isNotMember">
          <ul>
            <li class="infoAddress" v-cloak>Your address<br>{{userData.userAccount}}</li>
            <li class="infoData" v-cloak>balance of token<br>{{userData.balanceOfUser}}</li>
          </ul>
          <ul>
            <li class="memberCheck" v-cloak>{{userData.memberCheckOfUser}}</li>
            <li class="infoData" v-cloak>credit<br>{{userData.creditToHakoOfUser}}</li>
            <li class="infoData" v-cloak>debt<br>{{userData.debtToHakoOfUser}}</li>
            <li class="infoData" v-cloak>lending<br>{{userData.creditToMemberOfUser}}</li>
            <li class="infoData" v-cloak>borrowing<br>{{userData.debtToMemberOfUser}}</li>
            <li class="infoData" v-cloak>net assets<br>{{userData.netAssetsOfUser}}</li>
            <li class="supplement">* net assets = balance + credit - debt + lending - borrowing</li>
          </ul>
          <ul>
            <li class="memberCheck">value and duration you can borrow</li>
            <li class="infoData" v-cloak>value<br>{{userData.valueDuration.value}}</li>
            <li class="infoAddress" v-cloak>duration<br>
              {{userData.valueDuration.durationData.days}} days {{userData.valueDuration.durationData.hours}} hours 
              {{userData.valueDuration.durationData.minutes}} minutes {{userData.valueDuration.durationData.seconds}} seconds 
              ( = {{userData.valueDuration.duration}} seconds)
            </li>
          </ul>
        </div>
        <div class="info-content" v-show="isNotMember">
          <ul>
            <li class="infoAddress" v-cloak>Your address<br>{{userData.userAccount}}</li>
            <li class="infoData" v-cloak>balance of token<br>{{userData.balanceOfUser}}</li>
          </ul>
          <ul>
            <li class="memberCheck" v-cloak>{{userData.memberCheckOfUser}}</li>
            <li class="infoData" v-cloak>credit<br><span>{{userData.creditToHakoOfUser}}</span></li>
            <li class="infoData" v-cloak>debt<br><span>{{userData.debtToHakoOfUser}}</span></li>
            <li class="infoData" v-cloak>lending<br><span>{{userData.creditToMemberOfUser}}</span></li>
            <li class="infoData" v-cloak>borrowing<br><span>{{userData.debtToMemberOfUser}}</span></li>
            <li class="infoData" v-cloak>net assets<br><span>{{userData.netAssetsOfUser}}</span></li>
            <li class="supplement">* net assets = balance + credit - debt + lending - borrowing</li>
          </ul>
          <ul>
            <li class="memberCheck">value and duration you can borrow</li>
            <li class="infoData" v-cloak>value<br><span>{{userData.valueDuration.value}}</span></li>
            <li class="infoAddress" v-cloak>duration<br><span>{{userData.valueDuration.duration}}</span></li>
          </ul>
        </div>
      </div>
      <div class="tab-pane transactions" v-show="active === 2">
        <h1>Transactions</h1>
        <div class="info-content">
          <ul>
            <div class="transactionLink transfer">
              <div v-if="haveToken">
                <li class="linkToTransaction">
                  <a href="transactions/transfer_token.html">transfer token</a>
                </li><br>
                <div class="enter">
                  <a href="transactions/transfer_token.html">enter</a>
                </div>
              </div>
              <div v-else>
                <li class="linkToTransaction">
                  transfer token
                </li><br>
                <div class="noDisplay">
                  You don't have token!
                </div>
              </div>
            </div>
            <div class="transactionLink transferCredit">
              <div v-if="isMember && haveCredit">
                <li class="linkToTransaction">
                  <a href="transactions/transfer_credit.html">transfer credit</a>
                </li><br>
                <div class="enter">
                  <a href="transactions/transfer_credit.html">enter</a>
                </div>
              </div>
              <div v-else-if="!isMember">
                <li class="linkToTransaction">
                  transfer credit
                </li><br>
                <div class="noDisplay">
                  Member Only
                </div>
              </div>
              <div v-else>
                <li class="linkToTransaction">
                  transfer credit
                </li><br>
                <div class="noDisplay">
                  You don't have credit!
                </div>
              </div>
            </div>
            <div class="transactionLink joinHako">
              <div v-if="!isMember">
                <li class="linkToTransaction">
                  <a href="transactions/join_hako.html">join Hako</a>
                </li><br>
                <div class="enter">
                  <a href="transactions/join_hako.html">enter</a>
                </div>
              </div>
              <div v-else>
                <li class="linkToTransaction">
                  join Hako
                </li><br>
                <div class="noDisplay">
                  Non-Member Only
                </div>
              </div>
            </div>
            <div class="transactionLink leaveHako">
              <div v-if="isMember && haveNotDebtToHako && haveNotDebtToMember && haveNotCreditToMember">
                <li class="linkToTransaction">
                  <a href="transactions/leave_hako.html">leave Hako</a>
                </li><br>
                <div class="enter">
                  <a href="transactions/leave_hako.html">enter</a>
                </div>
              </div>
              <div v-else-if="!isMember">
                <li class="linkToTransaction">
                  leave Hako
                </li><br>
                <div class="noDisplay">
                  Member Only
                </div>
              </div>
              <div v-else-if="!haveNotDebtToHako">
                <li class="linkToTransaction">
                  leave Hako
                </li><br>
                <div class="noDisplay">
                  You have debt!
                </div>
              </div>
              <div v-else-if="!haveNotDebtToMember">
                <li class="linkToTransaction">
                  leave Hako
                </li><br>
                <div class="noDisplay">
                  You're borrowing!
                </div>
              </div>
              <div v-else>
                <li class="linkToTransaction">
                  leave Hako
                </li><br>
                <div class="noDisplay">
                  You're lending! 
                </div>
              </div>
            </div>
            <div class="transactionLink depositToken">
              <div v-if="isMember && haveToken">
                <li class="linkToTransaction">
                  <a href="transactions/deposit_token.html">deposit token</a>
                </li><br>
                <div class="enter">
                  <a href="transactions/deposit_token.html">enter</a>
                </div>
              </div>
              <div v-else-if="!isMember">
                <li class="linkToTransaction">
                  deposit token
                </li><br>
                <div class="noDisplay">
                  Member Only
                </div>
              </div>
              <div v-else>
                <li class="linkToTransaction">
                  deposit token
                </li><br>
                <div class="noDisplay">
                  You don't have token!
                </div>
              </div>
            </div>
            <div class="transactionLink withdrawToken">
              <div v-if="isMember && haveCredit && haveNotDebtToHako && haveNotDebtToMember">
                <li class="linkToTransaction">
                  <a href="transactions/withdraw_token.html">withdraw token</a>
                </li><br>
                <div class="enter">
                  <a href="transactions/withdraw_token.html">enter</a>
                </div>
              </div>
              <div v-else-if="!isMember">
                <li class="linkToTransaction">
                  withdraw token
                </li><br>
                <div class="noDisplay">
                  Member Only
                </div>
              </div>
              <div v-else-if="!haveCredit">
                <li class="linkToTransaction">
                  withdraw token
                </li><br>
                <div class="noDisplay">
                  You don't have credit!
                </div>
              </div>
              <div v-else-if="!haveNotDebtToHako">
                <li class="linkToTransaction">
                  withdraw token
                </li><br>
                <div class="noDisplay">
                  You have debt!
                </div>
              </div>
              <div v-else>
                <li class="linkToTransaction">
                  withdraw token
                </li><br>
                <div class="noDisplay">
                  You're borrowing!
                </div>
              </div>
            </div>
            <div class="transactionLink registerBorrowing">
              <div v-if="isMember && haveNotDebtToMember && havePlusNetAssets">
                <li class="linkToTransaction">
                  <a href="transactions/register_borrowing.html">register borrowing</a>
                </li><br>
                <div class="enter">
                  <a href="transactions/register_borrowing.html">enter</a>
                </div>
              </div>
              <div v-else-if="!isMember">
                <li class="linkToTransaction">
                  register borrowing
                </li><br>
                <div class="noDisplay">
                  Member Only
                </div>
              </div>
              <div v-else-if="!haveNotDebtToMember">
                <li class="linkToTransaction">
                  register borrowing
                </li><br>
                <div class="noDisplay">
                  You're borrowing!
                </div>
              </div>
              <div v-else>
                <li class="linkToTransaction">
                  register borrowing
                </li><br>
                <div class="noDisplay">
                  Net assets is 0 or minus!
                </div>
              </div>
            </div>
            <div class="transactionLink lendCredit">
              <div v-if="isMember && haveCredit">
                <li class="linkToTransaction">
                  <a href="transactions/lend_credit.html">lend credit</a>
                </li><br>
                <div class="enter">
                  <a href="transactions/lend_credit.html">enter</a>
                </div>
              </div>
              <div v-else-if="!isMember">
                <li class="linkToTransaction">
                  lend credit
                </li><br>
                <div class="noDisplay">
                  Member Only
                </div>
              </div>
              <div v-else>
                <li class="linkToTransaction">
                  lend credit
                </li><br>
                <div class="noDisplay">
                  You don't have credit!
                </div>
              </div>
            </div>
            <div class="transactionLink collectDebtFrom">
              <div v-if="isMember && !haveNotCreditToMember">
                <li class="linkToTransaction">
                  <a href="transactions/collect_debt.html">collect debt</a>
                </li><br>
                <div class="enter">
                  <a href="transactions/collect_debt.html">enter</a>
                </div>
              </div>
              <div v-else-if="!isMember">
                <li class="linkToTransaction">
                  collect debt
                </li><br>
                <div class="noDisplay">
                  Member Only
                </div>
              </div>
              <div v-else>
                <li class="linkToTransaction">
                  collect debt
                </li><br>
                <div class="noDisplay">
                  You're not lending!
                </div>
              </div>
            </div>
            <div class="transactionLink returnDebtTo">
              <div v-if="isMember && !haveNotDebtToMember && haveCredit">
                <li class="linkToTransaction">
                  <a href="transactions/return_debt.html">return debt</a>
                </li><br>
                <div class="enter">
                  <a href="transactions/return_debt.html">enter</a>
                </div>
              </div>
              <div v-else-if="!isMember">
                <li class="linkToTransaction">
                  return debt
                </li><br>
                <div class="noDisplay">
                  Member Only
                </div>
              </div>
              <div v-else-if="haveNotDebtToMember">
                <li class="linkToTransaction">
                  return debt
                </li><br>
                <div class="noDisplay">
                  You're not borrowing!
                </div>
              </div>
              <div v-else>
                <li class="linkToTransaction">
                  return debt
                </li><br>
                <div class="noDisplay">
                  You don't have credit!
                </div>
              </div>
            </div>
            <div class="transactionLink createCredit">
              <div v-if="isMember && haveNotDebtToHako && havePlusNetAssets">
                <li class="linkToTransaction">
                  <a href="transactions/create_credit.html">create credit</a>
                </li><br>
                <div class="enter">
                  <a href="transactions/create_credit.html">enter</a>
                </div>
              </div>
              <div v-else-if="!isMember">
                <li class="linkToTransaction">
                  create credit
                </li><br>
                <div class="noDisplay">
                  Member Only
                </div>
              </div>
              <div v-else-if="!haveNotDebtToHako">
                <li class="linkToTransaction">
                  create credit
                </li><br>
                <div class="noDisplay">
                  You have debt!
                </div>
              </div>
              <div v-else>
                <li class="linkToTransaction">
                  create credit
                </li><br>
                <div class="noDisplay">
                  Net assets is 0 or minus!
                </div>
              </div>
            </div>
            <div class="transactionLink reduceDebt">
              <div v-if="isMember && !haveNotDebtToHako && haveCredit">
                <li class="linkToTransaction">
                  <a href="transactions/reduce_debt.html">reduce debt</a>
                </li><br>
                <div class="enter">
                  <a href="transactions/reduce_debt.html">enter</a>
                </div>
              </div>
              <div v-else-if="!isMember">
                <li class="linkToTransaction">
                  reduce debt
                </li><br>
                <div class="noDisplay">
                  Member Only
                </div>
              </div>
              <div v-else-if="haveNotDebtToHako">
                <li class="linkToTransaction">
                  reduce debt
                </li><br>
                <div class="noDisplay">
                  You don't have debt!
                </div>
              </div>
              <div v-else>
                <li class="linkToTransaction">
                  reduce debt
                </li><br>
                <div class="noDisplay">
                  You don't have credit!
                </div>
              </div>
            </div>
          </ul>
        </div>
      </div>
      <div class="tab-pane transactions" v-show="active === 3">
        <h1>Transactions History</h1>
        <div class="info-content">
          <ul>
            <div class="transactionLink transfer">
              <li class="linkToTransaction">
                <a href="history/transfer_token_history.html">transfer token</a>
              </li><br>
              <div class="enter">
                <a href="history/transfer_token_history.html">watch the history</a>
              </div>
            </div>
            <div class="transactionLink transferCredit">
              <li class="linkToTransaction">
                <a href="history/transfer_credit_history.html">transfer credit</a>
              </li><br>
              <div class="enter">
                <a href="history/transfer_credit_history.html">watch the history</a>
              </div>
            </div>
            <div class="transactionLink joinHako">
              <li class="linkToTransaction">
                <a href="history/join_hako_history.html">join Hako</a>
              </li><br>
              <div class="enter">
                <a href="history/join_hako_history.html">watch the history</a>
              </div>
            </div>
            <div class="transactionLink leaveHako">
              <li class="linkToTransaction">
                <a href="history/leave_hako_history.html">leave Hako</a>
              </li><br>
              <div class="enter">
                <a href="history/leave_hako_history.html">watch the history</a>
              </div>
            </div>
            <div class="transactionLink depositToken">
              <li class="linkToTransaction">
                <a href="history/deposit_token_history.html">deposit token</a>
              </li><br>
              <div class="enter">
                <a href="history/deposit_token_history.html">watch the history</a>
              </div>
            </div>
            <div class="transactionLink withdrawToken">
              <li class="linkToTransaction">
                <a href="history/withdraw_token_history.html">withdraw token</a>
              </li><br>
              <div class="enter">
                <a href="history/withdraw_token_history.html">watch the history</a>
              </div>
            </div>
            <div class="transactionLink registerBorrowing">
              <li class="linkToTransaction">
                <a href="history/register_borrowing_history.html">register borrowing</a>
              </li><br>
              <div class="enter">
                <a href="history/register_borrowing_history.html">watch the history</a>
              </div>
            </div>
            <div class="transactionLink lendCredit">
              <li class="linkToTransaction">
                <a href="history/lend_credit_history.html">lend credit</a>
              </li><br>
              <div class="enter">
                <a href="history/lend_credit_history.html">watch the history</a>
              </div>
            </div>
            <div class="transactionLink collectDebtFrom">
              <li class="linkToTransaction">
                <a href="history/collect_debt_history.html">collect debt</a>
              </li><br>
              <div class="enter">
                <a href="history/collect_debt_history.html">watch the history</a>
              </div>
            </div>
            <div class="transactionLink returnDebtTo">
              <li class="linkToTransaction">
                <a href="history/return_debt_history.html">return debt</a>
              </li><br>
              <div class="enter">
                <a href="history/return_debt_history.html">watch the history</a>
              </div>
            </div>
            <div class="transactionLink createCredit">
              <li class="linkToTransaction">
                <a href="history/create_credit_history.html">create credit</a>
              </li><br>
              <div class="enter">
                <a href="history/create_credit_history.html">watch the history</a>
              </div>
            </div>
            <div class="transactionLink reduceDebt">
              <li class="linkToTransaction">
                <a href="history/reduce_debt_history.html">reduce debt</a>
              </li><br>
              <div class="enter">
                <a href="history/reduce_debt_history.html">watch the history</a>
              </div>
            </div>
          </ul>
        </div>
      </div>
    </div>
    <div class="docs">
      <div class="docs-item">
        <ul>
          <li class="docs-link">
            <a href="docs.html" target="_blank">Docs</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <footer>
    <div class="footer-item">
      <div class="footer-link">
        <a href="https://twitter.com/hakofinance" target="_blank" class="footer-icon">
          <i class="fab fa-twitter fa-fw fa-lg"></i>
        </a>
        <a href="https://github.com/okada-shun/hako-finance" target="_blank" class="footer-icon">
          <i class="fab fa-github fa-fw fa-lg"></i>
        </a>
        <a href="https://discord.gg/3hGkVqkqg9" target="_blank" class="footer-icon">
          <i class="fab fa-discord fa-fw fa-lg"></i>
        </a>
      </div>
      <small>© 2021 hako finance.</small>
    </div>
  </footer>
  <script src="info_script.js"></script>
</body>
</html>
