body {
  list-style: none;
  font-size: 18px;
  margin: 0;
  background-image:
   linear-gradient(-90deg, chocolate 50%, blanchedalmond 50%);
  background-size: 40px 40px;
  overflow-wrap: break-word;
}
@media(max-width: 640px) {
  body {
    font-size: 16px;
  }
}
header {
  width: 1000px;
  margin: 30px auto;
}
.header-item {
  width: 960px;
  margin: 0 auto;
  background-color: blanchedalmond;
  border: solid 3px saddlebrown;
  border-radius: 20px;
}
@media(max-width: 1023px) {
  header {
    width: 100%;
  }
  .header-item {
    width: 90%;
  }
}
@media(max-width: 640px) {
  header {
    margin: 30px auto 20px auto;
  }
}
@media(max-width: 480px) {
  header {
    margin: 0 auto 20px auto;
  }
  .header-item {
    width: 98%;
  }
}
.header-logo {
  font-family: 'Londrina Shadow', cursive;
  font-size: 80px;
  text-align: center;
  padding: 20px 0;
}
@media(max-width: 640px) {
  .header-logo {
    font-size: 68px;
  }
}
@media(max-width: 320px) {
  .header-logo {
    font-size: 58px;
  }
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: underline;
  color: chocolate;
}
.header-logo a:hover {
  text-decoration: none;
}
.introduction {
  text-align: center;
  display: block;
  padding: 0 20px 20px 20px;
  margin: 0 auto;
}
.container {
  width: 1000px;
  margin: 20px auto 150px auto;
}
@media(max-width: 1023px) {
  .container {
    width: 100%;
    margin: 0 auto 150px auto;
  }
}
.tab {
  display: inline-block;
  width: 1000px;
  margin: 0 auto;
}
.tab-four {
  width: 936px;
  margin: 0 auto;
}
@media(max-width: 1023px) {
  .tab {
    width: 100%;
  }
  .tab-four {
    width: 492px;
  }
}
@media(max-width: 640px) {
  .tab-four {
    width: 320px;
  }
}
@media(max-width: 320px) {
  .tab-four {
    width: 200px;
  }
}
.tab ul {
  padding: 0;
}
.tab-item {
  font-size: 20px;
  display: inline-block;
  text-align: center;
  width: 210px;
  padding: 10px;
  background-color: blanchedalmond;
  border: solid 1px saddlebrown;
  border-radius: 10px;
}
@media(max-width: 1023px) {
  .tab-item {
    margin: 5px;
  }
}
@media(max-width: 640px) {
  .tab-item {
    font-size: 16px;
    width: 140px;
    padding: 5px;
    margin: 3px;
  }
}
@media(max-width: 320px) {
  .tab-item {
    width: 178px;
  }
}
.tab-item:hover {
  border: dashed 3px saddlebrown;
}
@media(max-width: 640px) {
  .tab-item:hover {
    border: solid 1px saddlebrown;
  }
}
.tab-item.active {
  border: solid 3px saddlebrown;
}
.docs {
  display: inline-block;
  width: 1000px;
  margin: 0 auto;
}
.docs-item {
  width: 236px;
  margin: 0 auto;
}
@media(max-width: 1023px) {
  .docs {
    width: 100%;
  }
  .docs-item {
    width: 246px;
  }
}
@media(max-width: 640px) {
  .docs-item {
    width: 162px;
  }
}
@media(max-width: 320px) {
  .docs-item {
    width: 200px;
  }
}
.docs ul {
  padding: 0;
  margin-top: 48px;
}
.docs-link {
  font-size: 20px;
  display: inline-block;
  text-align: center;
  width: 210px;
  padding: 10px;
  background-color: blanchedalmond;
  border: solid 3px saddlebrown;
  border-radius: 10px;
}
@media(max-width: 1023px) {
  .docs-link {
    margin: 5px;
  }
}
@media(max-width: 640px) {
  .docs ul {
    margin-top: 38px;
  }
  .docs-link {
    font-size: 16px;
    width: 140px;
    padding: 5px;
    margin: 3px;
  }
}
@media(max-width: 320px) {
  .docs-link {
    width: 178px;
  }
}
li {
  list-style: none;
}
h1 {
  font-size: 40px;
  padding: 20px 40px;
}
@media(max-width: 1023px) {
  h1 {
    font-size: 35px;
    text-align: center;
  }
}
@media(max-width: 640px) {
  h1 {
    font-size: 25px;
    text-align: center;
  }
}
.hakoInfo {
  width: 960px;
  margin: 0 auto;
  background-color: blanchedalmond;
  border: solid 3px saddlebrown;
  border-radius: 20px;
}
@media(max-width: 1023px) {
  .hakoInfo {
    width: 90%;
  }
}
@media(max-width: 480px) {
  .hakoInfo {
    width: 98%;
  }
}
.info-content {
  width: 775px;
  margin: 0 auto;
}
.info-content ul {
  padding: 0 40px;
  margin-bottom: 50px;
}
@media(max-width: 1023px) {
  .info-content {
    width: 90%;
  }
  .info-content ul {
    text-align: center;
    padding: 0;
    margin-bottom: 40px;
  }
}
@media(max-width: 480px) {
  .info-content {
    width: 98%;
  }
}
.userInfo {
  width: 960px;
  margin: 0 auto;
  background-color: blanchedalmond;
  border: solid 3px saddlebrown;
  border-radius: 20px;
}
@media(max-width: 1023px) {
  .userInfo {
    width: 90%;
  }
}
@media(max-width: 480px) {
  .userInfo {
    width: 98%;
  }
}
.infoData {
  font-size: 20px;
  text-align: center;
  display: inline-block;
  width: 320px;
  padding: 10px;
  margin: 10px auto;
  border: solid 2px chocolate;
  border-radius: 10px;
}
@media(max-width: 1023px) {
  .infoData {
    width: 90%;
  }
}
@media(max-width: 640px) {
  .infoData {
    font-size: 16px;
  }
}
.infoAddress {
  font-size: 20px;
  text-align: center;
  display: inline-block;
  width: 670px;
  padding: 10px;
  margin: 10px auto;
  border: solid 2px chocolate;
  border-radius: 10px;
}
@media(max-width: 1023px) {
  .infoAddress {
    width: 90%;
  }
}
@media(max-width: 640px) {
  .infoAddress {
    font-size: 16px;
  }
}
span {
  color: red;
}
.memberCheck {
  font-size: 20px;
  text-align: center;
  width: 695px;
}
@media(max-width: 1023px) {
  .memberCheck {
    width: 100%;
  }
}
@media(max-width: 640px) {
  .memberCheck {
    font-size: 16px;
  }
}
.supplement {
  display: inline-block;
  text-align: center;
  width: 320px;
  padding: 10px;
  margin: 10px auto;
}
@media(max-width: 1023px) {
  .supplement {
    width: 90%;
  }
}
@media(max-width: 640px) {
  .supplement {
    font-size: 14px;
    padding: 5px 10px;
  }
}
.transactions {
  width: 960px;
  margin: 0 auto;
  background-color: blanchedalmond;
  border: solid 3px saddlebrown;
  border-radius: 20px;
}
@media(max-width: 1023px) {
  .transactions {
    width: 90%;
  }
}
@media(max-width: 480px) {
  .transactions {
    width: 98%;
  }
}
.transactionLink {
  display: inline-block;
  text-align: center;
  width: 320px;
  padding: 20px 10px;
  margin: 10px auto;
  border: solid 2px chocolate;
  border-radius: 10px;
}
@media(max-width: 1023px) {
  .transactionLink {
    width: 480px;
    padding: 10px;
  }
}
@media(max-width: 640px) {
  .transactionLink {
    width: 90%;
    padding: 10px;
  }
}
.linkToTransaction {
  display: inline-block;
  margin: 15px auto;
}
@media(max-width: 1023px) {
  .linkToTransaction {
    margin: 5px auto;
  }
}
.enter {
  display: inline-block;
  margin: 15px auto;
}
@media(max-width: 1023px) {
  .enter {
    margin: 5px auto;
  }
}
.noDisplay {
  color: red;
  display: inline-block;
  margin: 15px auto;
}
@media(max-width: 1023px) {
  .noDisplay {
    margin: 5px auto;  
  }
}
footer {
  width: 100%;
  background-color: saddlebrown;
}
.footer-item {
  width: 960px;
  padding: 50px 0 30px 0;
  margin: 0 auto;
}
@media(max-width: 1023px) {
  .footer-item {
    width: 90%;
  }
}
footer a:hover {
  color: blanchedalmond;
  text-decoration: none;
}
.footer-link {
  text-align: center;
  margin-bottom: 20px;
}
.footer-icon {
  margin: 0 10px;
}
[v-cloak] {
  display: none;
}
button {
  height: 40px;
  width: 100px;
  margin: 20px 0;
  background-color: chocolate;
  border-radius: 5px;
}
button:hover {
  color: white;
  background-color: saddlebrown;
}
.transaction {
  padding: 30px 50px;
}
@media(max-width: 1023px) {
  .transaction {
    padding: 20px 30px;
  }
}
@media(max-width: 480px) {
  .transaction {
    padding: 10px;
  }
}
.transaction h2 {
  padding-bottom: 20px;
}
.noCheckSentence {
  color: red;
}
.creditDebtInfo {
  width: 750px;
  padding: 0 30px;
  margin: 20px auto;
  background-color: navajowhite;
  border: solid 1px chocolate;
  border-radius: 10px;
}
.creditDebtInfo li {
  font-size: 16px;
  padding: 5px 0;
  margin: 10px 10px;
}
@media(max-width: 1023px) {
  .creditDebtInfo {
    width: 87%;
    padding: 0 15px;
  }
  .creditDebtInfo li {
    font-size: 15px;
    padding: 0;
    margin: 10px 0;
  }
}
@media(max-width: 480px) {
  .creditDebtInfo {
    width: 92%;
    padding: 0 10px;
  }
}
@media(max-width: 1023px) {
  #collectDebtFrom p {
    margin: 10px 0;
  }
  #returnDebtTo p {
    margin: 10px 0;
  }
}
.question {
  width: 200px;
  margin: 10px;
}
@media(max-width: 640px) {
  .question {
    width: 90%;
  }
}
.duration {
  width: 75px;
}
@media(max-width: 640px) {
  .duration {
    width: 60%;
  }
}
.history {
  padding-bottom: 30px;
  margin: 0 auto;
}
@media(max-width: 1023px) {
  .history p {
    margin: 10px 0;
  }
}
.log {
  width: 850px;
  margin: 20px auto;
  background-color: navajowhite;
  border: solid 1px chocolate;
  border-radius: 10px;
}
.log ul {
  padding: 0 30px;
}
.log li {
  font-size: 16px;
  padding: 5px 0;
  margin: 10px 10px;
}
@media(max-width: 1023px) {
  .log {
    width: 97%;
  }
  .log ul {
    padding: 0 15px;
  }
  .log li {
    font-size: 15px;
    padding: 0;
    margin: 10px 0;
  }
}
.noHistory {
  padding: 10px;
}