body {
  list-style: none;
  margin: 0;
  background-image:
   linear-gradient(-90deg, chocolate 50%, blanchedalmond 50%);
  background-size: 40px 40px;
}
header {
  height: 206px;
  width: 1050px;
  margin: 30px auto;
}
.header-item {
  height: 200px;
  width: 1000px;
  margin: 0 auto;
  background-color: blanchedalmond;
  border: solid 3px saddlebrown;
  border-radius: 20px;
}
.header-logo {
  font-family: 'Londrina Shadow', cursive;
  font-size: 80px;
  text-align: center;
  padding: 20px 0;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: chocolate;
}
.introduction {
  text-align: center;
  display: block;
  padding: 0 20px;
  margin: 0 auto;
}
.container {
  width: 1050px;
  margin: 20px auto 250px auto;
}
.tab {
  display: inline-block;
  width: 1050px;
  margin: 0 auto;
}
.tab ul {
  padding: 0 auto;
}
.tab-item {
  font-size: 20px;
  display: inline-block;
  text-align: center;
  width: 219px;
  padding: 10px;
  background-color: blanchedalmond;
  border: solid 1px saddlebrown;
  border-radius: 10px;
}
.tab-item:hover {
  border: dashed 3px saddlebrown;
}
.tab-item.active {
  border: solid 3px saddlebrown;
}
li {
  list-style: none;
  font-size: 20px;
}
h1 {
  font-size: 40px;
  padding: 20px 40px;
}
.tab-pane ul {
  padding-bottom: 20px;
}
.hakoInfo {
  width: 1000px;
  margin: 0 auto;
  background-color: blanchedalmond;
  border: solid 3px saddlebrown;
  border-radius: 20px;
}
.info-content {
  width: 775px;
  margin: 0 auto;
}
.hakoInfo li {
  margin: 10px auto;
}
.userInfo {
  width: 1000px;
  margin: 0 auto;
  background-color: blanchedalmond;
  border: solid 3px saddlebrown;
  border-radius: 20px;
}
.infoData {
  text-align: center;
  display: inline-block;
  width: 320px;
  padding: 10px;
  margin: 10px auto;
  border: solid 2px chocolate;
  border-radius: 10px;
}
.infoAddress {
  text-align: center;
  display: inline-block;
  width: 670px;
  padding: 10px;
  margin: 10px auto;
  border: solid 2px chocolate;
  border-radius: 10px;
}
span {
  color: red;
}
.memberCheck {
  text-align: center;
  width: 695px;
}
.supplement {
  display: inline-block;
  text-align: center;
  width: 320px;
  padding: 10px;
  margin: 10px auto;
}
.transactions {
  width: 1000px;
  margin: 0 auto;
  background-color: blanchedalmond;
  border: solid 3px saddlebrown;
  border-radius: 20px;
}
.enter {
  font-size: 18px;
  display: inline-block;
  margin: 15px auto;
}
.noDisplay {
  font-size: 18px;
  color: red;
  display: inline-block;
  margin: 15px auto;
}
.linkToTransaction {
  display: inline-block;
  margin: 16px auto;
}
.transactionLink {
  display: inline-block;
  text-align: center;
  width: 320px;
  padding: 20px 10px;
  margin: 10px auto;
  border: solid 2px chocolate;
  border-radius: 10px;
}
[v-cloak] {
  display: none;
}
button {
  height: 40px;
  width: 100px;
  margin: 20px 0;
  background-color: chocolate;
  border-radius: 5px;
}
button:hover {
  color: white;
  background-color: saddlebrown;
}
.transaction {
  padding: 30px 50px;
}
.transaction h2 {
  padding-bottom: 20px;
}
.transaction p {
  font-size: 18px;
}
.noCheckSentence {
  color: red;
}
.creditDebtInfo {
  width: 750px;
  padding: 0 30px;
  margin: 20px auto;
  background-color: navajowhite;
  border: solid 1px chocolate;
  border-radius: 10px;
}
.creditDebtInfo li {
  font-size: 16px;
  padding: 5px 0;
  margin: 10px 10px;
}
.question {
  width: 200px;
  margin: 10px;
}
.duration {
  width: 75px;
}
.log {
  width: 850px;
  margin: 20px auto;
  background-color: navajowhite;
  border: solid 1px chocolate;
  border-radius: 10px;
}
.log ul {
  padding: 0 30px;
}
.log li {
  font-size: 16px;
  padding: 5px 0;
  margin: 10px 10px;
}
.history {
  padding-bottom: 30px;
  margin: 0 auto;
}
.noHistory {
  font-size: 18px;
  padding: 10px;
}