<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Collect Debt History</title>
  <link rel="stylesheet" href="../stylesheet.css">
  <link rel="icon" href="../hako_icon.png">
  <link href="https://fonts.googleapis.com/css?family=Londrina+Shadow" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.2.9/web3.min.js"></script>
  <script src="../hako-address/Hako_abi.js"></script>
  <script src="../hako-address/Hako_address.js"></script>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
</head>
<body>
  <header>
    <div class="header-item">
      <div class="header-logo">
        <a href="../index.html">Hako Finance</a>
      </div>
      <p class="introduction">
        Transfer, get, lend, borrow, and credit creation, all transactions are realized on Hako Finance!<br>
        Welcome to next-generation DeFi!
      </p>
    </div>
  </header>
  <div class="container">
    <div class="transactions">
      <div class="transaction" id="collectDebtFromLog">
        <h2>collect debt history</h2>
        <div class="history">
          <p>You can watch the record of debt that creditor collected from you.<br>
            (You are a debtor.)</p>
          <button class="button" @click="watchDebtorLog">watch</button><br>
          <p v-show="txDataA.loading">Now searching history...</p>
          <div v-show="!txDataA.loading">
            <div v-show="txDataA.event.length > 0">
              <div class="log" v-for="log in txDataA.logs" :key="log.id" v-show="txDataA.active">
                <ul>
                  <li>{{log.id}}<br>
                    {{log.creditor}} collected {{log.value}} credit from you.</li>
                  <li>Transaction Hash: {{log.txHash}}</li>
                  <li>Block: {{log.blockN.blockNumber}}</li>
                  <li>Timestamp: {{log.time}}</li>
                </ul>
              </div>
            </div>
            <div v-show="txDataA.event.length === 0">
              <p class="noHistory" v-show="txDataA.active">No History</p>
            </div>
          </div>
        </div>
        <div class="history">
          <p>You can watch the record of debt that you collected from debtor.<br>
            (You are a creditor.)</p>
          <button class="button" @click="watchCreditorLog">watch</button><br>
          <p v-show="txDataB.loading">Now searching history...</p>
          <div v-show="!txDataB.loading">
            <div v-show="txDataB.event.length > 0">
              <div class="log" v-for="log in txDataB.logs" :key="log.id" v-show="txDataB.active">
                <ul>
                  <li>{{log.id}}<br>
                    You collected {{log.value}} credit from {{log.debtor}}.</li>
                  <li>Transaction Hash: {{log.txHash}}</li>
                  <li>Block: {{log.blockN.blockNumber}}</li>
                  <li>Timestamp: {{log.time}}</li>
                </ul>
              </div>
            </div>
            <div v-show="txDataB.event.length === 0">
              <p class="noHistory" v-show="txDataB.active">No History</p>
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div>
  <footer>
    <div class="footer-item">
      <div class="footer-link">
        <a href="https://twitter.com/hakofinance" target="_blank" class="footer-icon">
          <i class="fab fa-twitter fa-fw fa-lg"></i>
        </a>
        <a href="https://github.com/okada-shun/hako-finance" target="_blank" class="footer-icon">
          <i class="fab fa-github fa-fw fa-lg"></i>
        </a>
        <a href="https://discord.gg/3hGkVqkqg9" target="_blank" class="footer-icon">
          <i class="fab fa-discord fa-fw fa-lg"></i>
        </a>
      </div>
      <small>© 2021 hako finance.</small>
    </div>
  </footer>
  <script>
    var hako;
    var userAccount;
    async function startApp() {
      hako = new web3.eth.Contract(hakoABI, hakoAddress);
      userAccount = await web3.eth.getCoinbase();
    }

    window.addEventListener('load', function () {
      if (typeof web3 !== 'undefined') {
        web3 = new Web3(window.ethereum);
        console.log('web3 created!');
      } else {
        alert('install wallet!');
        console.log('install wallet!');
      }
      startApp();
    });

    var collectDebtFromLogVM = new Vue({
      el: '#collectDebtFromLog',
      data: {
        txDataA: {
          event: '',
          loading: false,
          active: false,
          logs: {
            0: {
              creditor: '',
              id: '',
              value: '',
              txHash: '',
              blockN: '',
              blockData: '',
              time: ''
            }
          }
        },
        txDataB: {
          event: '',
          loading: false,
          active: false,
          logs: {
            0: {
              debtor: '',
              id: '',
              value: '',
              txHash: '',
              blockN: '',
              blockData: '',
              time: ''
            }
          }
        }
      },
      methods: {
        watchDebtorLog: async function() {
          if (this.txDataA.active === true) {
            this.txDataA.active = false;
            return;
          }
          if (this.txDataA.event) {
            this.txDataA.active = true;
            return;
          }
          this.txDataA.loading = true;
          this.txDataA.event = await hako.getPastEvents("CollectDebtFrom", {filter: {debtor: userAccount}, fromBlock: 0, toBlock: "latest"});
          if (this.txDataA.event.length === 0) {
            this.txDataA.active = true;
            this.txDataA.loading = false;
            return;
          }
          for (let i = 0; i < this.txDataA.event.length; i++) {
            let id = this.txDataA.event[i].returnValues[2];
            let lendRecord = await hako.methods.lendRecordOf(id).call();
            this.txDataA.logs[i].creditor = "<" + this.txDataA.event[i].returnValues[0] + ">";
            this.txDataA.logs[i].id = "ID: " + id;
            this.txDataA.logs[i].value = Number(lendRecord[3]).toLocaleString();
            this.txDataA.logs[i].txHash = this.txDataA.event[i].transactionHash;
            this.txDataA.logs[i].blockN = await web3.eth.getTransaction(this.txDataA.logs[i].txHash);
            this.txDataA.logs[i].blockData = await web3.eth.getBlock(this.txDataA.logs[i].blockN.blockNumber);
            this.txDataA.logs[i].time = String(new Date(this.txDataA.logs[i].blockData.timestamp * 1000));
            if (i + 1 != this.txDataA.event.length) {
              this.txDataA.logs[i + 1] = {
                creditor: '',
                id: '',
                value: '',
                txHash: '',
                blockN: '',
                blockData: '',
                time: ''
              }
            }
          }
          this.txDataA.active = true;
          this.txDataA.loading = false;
        },
        watchCreditorLog: async function() {
          if (this.txDataB.active === true) {
            this.txDataB.active = false;
            return;
          }
          if (this.txDataB.event) {
            this.txDataB.active = true;
            return;
          }
          this.txDataB.loading = true;
          this.txDataB.event = await hako.getPastEvents("CollectDebtFrom", {filter: {creditor: userAccount}, fromBlock: 0, toBlock: "latest"});
          if (this.txDataB.event.length === 0) {
            this.txDataB.active = true;
            this.txDataB.loading = false;
            return;
          }
          for (let i = 0; i < this.txDataB.event.length; i++) {
            let id = this.txDataB.event[i].returnValues[2];
            let lendRecord = await hako.methods.lendRecordOf(id).call();
            this.txDataB.logs[i].debtor = "<" + this.txDataB.event[i].returnValues[1] + ">";
            this.txDataB.logs[i].id = "ID: " + id;
            this.txDataB.logs[i].value = Number(lendRecord[3]).toLocaleString();
            this.txDataB.logs[i].txHash = this.txDataB.event[i].transactionHash;
            this.txDataB.logs[i].blockN = await web3.eth.getTransaction(this.txDataB.logs[i].txHash);
            this.txDataB.logs[i].blockData = await web3.eth.getBlock(this.txDataB.logs[i].blockN.blockNumber);
            this.txDataB.logs[i].time = String(new Date(this.txDataB.logs[i].blockData.timestamp * 1000));
            if (i + 1 != this.txDataB.event.length) {
              this.txDataB.logs[i + 1] = {
                debtor: '',
                id: '',
                value: '',
                txHash: '',
                blockN: '',
                blockData: '',
                time: ''
              }
            }
          }
          this.txDataB.active = true;
          this.txDataB.loading = false;
        }
      }
    });
  </script>
</body>
</html>