<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Collect Debt</title>
  <link rel="stylesheet" href="../stylesheet.css">
  <link rel="icon" href="../hako_icon.png">
  <link href="https://fonts.googleapis.com/css?family=Londrina+Shadow" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.2.9/web3.min.js"></script>
  <script src="../hako-address/Hako_abi.js"></script>
  <script src="../hako-address/Hako_address.js"></script>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
</head>
<body>
  <header id="header">
    <header-component></header-component>
  </header>
  <div class="container">
    <div class="transactions">
      <div class="transaction" id="collectDebtFrom">
        <h2>collect debt</h2>
        <p>Collect your credit from the debtor account<br>
          (You can't collect your credit if the borrow duration is yet to be passsed.)</p>
        <button class="button" @click="getCreditToMemberInfo">search</button><br>
        <p v-show="loading">Now searching your lending records...</p>
        <ul class="creditDebtInfo" v-for="lendRecord in lendRecordsOfUser" :key="lendRecord.id" v-show="lendRecordActive && !loading">
          <li v-cloak>{{lendRecord.id}}</li>
          <li v-cloak>{{lendRecord.debtor}}</li>
          <li v-cloak>{{lendRecord.value}}</li>
          <li v-cloak>{{lendRecord.duration}}</li>
          <li v-cloak>{{lendRecord.time}}</li>
          <li v-cloak>{{lendRecord.deadline}}</li>
          <li v-cloak>{{lendRecord.over}}</li>
        </ul>
        from who? <input class="question" type="text" name="debtor" v-model="debtor"><br>
        lending ID: <input class="question" type="text" name="id" v-model="id"><br>
        <button class="button" @click="collectDebtFromCheck">check</button>
        <div v-show="isFill">
          <p class="okCheckSentence" v-show="ok && active" v-cloak>{{okCheckSentence}}</p>
          <p class="noCheckSentence" v-show="!ok && active" v-cloak>{{noCheckSentence}}</p>
          <button class="button" @click="collectDebtFrom" v-show="ok && active">collect</button>
        </div>
        <p v-cloak>{{txStatus}}</p>
      </div>
    </div> 
  </div>
  <footer id="footer">
    <footer-component></footer-component>
  </footer>
  <script src="../components/header.js"></script>
  <script src="../components/footer.js"></script>
  <script>
    var hako;
    var userAccount;
    async function startApp() {
      hako = new web3.eth.Contract(hakoABI, hakoAddress);
      userAccount = await web3.eth.getCoinbase();
    }

    window.addEventListener('load', function () {
      if (typeof web3 !== 'undefined') {
        web3 = new Web3(window.ethereum);
        console.log('web3 created!');
      } else {
        alert('install wallet!');
        console.log('install wallet!');
      }
      startApp();
    });

    var collectDebtFromVM = new Vue({
      el: '#collectDebtFrom',
      data: {
        event: '',
        loading: false,
        idList: [],
        lendRecordsOfUser: {
          0: {
            id: '',
            debtor: '',
            value: '',
            duration: '',
            durationData: {
              days: '',
              hours: '',
              minutes: '',
              seconds: ''
            },
            time: '',
            deadline: '',
            over: ''
          }
        },
        lendRecordActive: false,
        debtor: '',
        id: '',
        lendRecords: '',
        memberOrNotOfUser: '',
        creditToMemberOfUser: '',
        noCheckSentence: '',
        okCheckSentence: '',
        ok: false,
        active: false,
        txData: {
          debtor: 'initial',
          id: 'initial',
        },
        txStatus: ''
      },
      methods: {
        getCreditToMemberInfo: async function() {
          if (this.lendRecordActive === true) {
            this.lendRecordActive = false;
            return;
          }
          if (this.event) {
            this.lendRecordActive = true;
            return;
          }
          this.loading = true;
          this.event = await hako.getPastEvents("LendCredit", {filter: {from: userAccount}, fromBlock: 0, toBlock: "latest"});
          for (let i = 0; i < this.event.length; i++) {
            let id = this.event[i].returnValues[4];
            let lendRecord = await hako.methods.lendRecordOf(id).call();
            if (lendRecord[6] === '1') {
              this.idList.push(id);
            }
          }
          if (this.idList.length === 0) {
            this.lendRecordsOfUser[0].id = "ID: You're not lending credit!";
            this.lendRecordsOfUser[0].debtor = "Debtor: You're not lending credit!";
            this.lendRecordsOfUser[0].value = "Value: You're not lending credit!";
            this.lendRecordsOfUser[0].duration = "Duration: You're not lending credit!";
            this.lendRecordsOfUser[0].time = "Time: You're not lending credit!";
            this.lendRecordsOfUser[0].deadline = "Deadline: You're not lending credit!";
            this.lendRecordsOfUser[0].over = "You're not lending credit!";
            this.lendRecordActive = true;
            this.loading = false;
            return;
          }
          for (let j = 0; j < this.idList.length; j++) {
            let lendRecord = await hako.methods.lendRecordOf(this.idList[j]).call();
            this.lendRecordsOfUser[j].id = "ID: " + lendRecord[0];
            this.lendRecordsOfUser[j].debtor = "Debtor: " + lendRecord[2];
            this.lendRecordsOfUser[j].value = "Value: " + Number(lendRecord[3]).toLocaleString();
            this.arrangeDuration(Number(lendRecord[4]), j);
            this.lendRecordsOfUser[j].duration = "Duration: " + 
            this.lendRecordsOfUser[j].durationData.days + " days " + this.lendRecordsOfUser[j].durationData.hours + " hours " + 
            this.lendRecordsOfUser[j].durationData.minutes + " minutes " + this.lendRecordsOfUser[j].durationData.seconds + " seconds " + 
            "( = " + Number(lendRecord[4]).toLocaleString() + " seconds)";
            this.lendRecordsOfUser[j].time = "Time: " + String(new Date(Number(lendRecord[5]) * 1000));
            this.lendRecordsOfUser[j].deadline = 
            "Deadline: " + String(new Date(Number(lendRecord[5]) * 1000 + Number(lendRecord[4]) * 1000));
            if (Number(new Date()) >= Number(lendRecord[5]) * 1000 + Number(lendRecord[4]) * 1000) {
              this.lendRecordsOfUser[j].over = 
              "Deadline has already passed! You can collect debt from debtor!";
            } else {
              this.lendRecordsOfUser[j].over = 
              "Deadline has not passed yet! You can't collect debt from debtor!";
            }
            if (j + 1 != this.idList.length) {
              this.lendRecordsOfUser[j + 1] = {
                id: '',
                debtor: '',
                value: '',
                duration: '',
                durationData: {
                  days: '',
                  hours: '',
                  minutes: '',
                  seconds: ''
                },
                time: '',
                deadline: '',
                over: ''
              }
            }
          }
          this.idList = [];
          this.lendRecordActive = true;
          this.loading = false;
        },
        arrangeDuration: function(duration, i) {
          let remainderA = duration % 86400;
          let quotientA = duration - remainderA;
          this.lendRecordsOfUser[i].durationData.days = (quotientA / 86400).toLocaleString();
          let remainderB = remainderA % 3600;
          let quotientB = remainderA - remainderB;
          this.lendRecordsOfUser[i].durationData.hours = (quotientB / 3600).toString();
          let remainderC = remainderB % 60;
          let quotientC = remainderB - remainderC;
          this.lendRecordsOfUser[i].durationData.minutes = (quotientC / 60).toString();
          this.lendRecordsOfUser[i].durationData.seconds = remainderC.toString();
        },
        collectDebtFromCheck: async function() {
          if (this.active === true) {
            this.active = false;
            return;
          }
          this.ok = false;
          if (!this.debtor || !this.id) {
            this.noCheckSentence = "Please input a value!";
            this.txData.debtor = this.debtor;
            this.txData.id = this.id;
            this.active = true;
            return;
          }
          if (isNaN(this.id)) {
            this.noCheckSentence = "Please input an id as number!";
            this.txData.debtor = this.debtor;
            this.txData.id = this.id;
            this.active = true;
            return;
          }
          if (Number(this.id) <= 0) {
            this.noCheckSentence = "Please input an id as positive number!";
            this.txData.debtor = this.debtor;
            this.txData.id = this.id;
            this.active = true;
            return;
          }
          if (!Number.isInteger(Number(this.id))) {
            this.noCheckSentence = "Please input an id as integer!";
            this.txData.debtor = this.debtor;
            this.txData.id = this.id;
            this.active = true;
            return;
          }
          try {
            await hako.methods.memberCheckOf(this.debtor).call();
          } catch (error) {
            this.noCheckSentence = "Please input an address exactly!";
            this.txData.debtor = this.debtor;
            this.txData.id = this.id;
            this.active = true;
            return;
          }
          try {
            this.lendRecords = await hako.methods.lendRecordOf(this.id).call();
          } catch (error) {
            this.noCheckSentence = "Lending ID error! Make sure ID again!";
            this.txData.debtor = this.debtor;
            this.txData.id = this.id;
            this.active = true;
            return;
          }
          this.memberOrNotOfUser = await hako.methods.memberCheckOf(userAccount).call();
          this.creditToMemberOfUser = await hako.methods.creditToMemberOf(userAccount).call();
          if (this.memberOrNotOfUser === '0') {
            this.noCheckSentence = 
            "NO! You are not a member! Non-member account can't collect debt!";
          } else if (this.creditToMemberOfUser === '0') {
            this.noCheckSentence = 
            "NO! You are not lending! You can't collect debt!";
          } else if (this.lendRecords['1'].toUpperCase() !== userAccount.toUpperCase()) {
            this.noCheckSentence = 
            "NO! You are not the creditor of this lending!";
          } else if (this.lendRecords['2'].toUpperCase() !== this.debtor.toUpperCase()) {
            this.noCheckSentence = 
            "NO! <" + this.debtor + "> is not the debtor of this lending!";
          } else if ((Date.now() / 1000) < Number(this.lendRecords['4']) + Number(this.lendRecords['5'])) {
            this.noCheckSentence = 
            "NO! The duration is yet to be passed!";
          } else if (this.lendRecords['6'] !== "1") {
            this.noCheckSentence = 
            "NO! Lending ID: " + this.id + " is wrong or this lending had already finished!";
          } else {
            this.okCheckSentence = 
            "OK! You collect " + Number(this.lendRecords['3']).toLocaleString() + " debt from <" + this.debtor + ">!";
            this.ok = true;
          }
          this.txData.debtor = this.debtor;
          this.txData.id = this.id;
          this.active = true;
        },
        collectDebtFrom: function() {
          this.txStatus = "Collecting debt from the debtor on the blockchain. This may take a while...";
          return hako.methods.collectDebtFrom(this.debtor, Number(this.id))
          .send({from: userAccount})
          .on("receipt", function(receipt) {
            collectDebtFromVM.txStatus = "";
            alert('Transaction successed!');
          })
          .on("error", function(error) {
            collectDebtFromVM.txStatus = "";
            alert('Transaction errored!');
          });
        }
      },
      computed: {
        isFill() {
          if (this.debtor === this.txData.debtor && this.id === this.txData.id) {
            return true;
          } else {
            this.active = false;
            return true;
          }
        }
      }
    });
  </script>
</body>
</html>