<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Lend Credit</title>
  <link rel="stylesheet" href="../stylesheet.css">
  <link rel="icon" href="../hako_icon.png">
  <link href="https://fonts.googleapis.com/css?family=Londrina+Shadow" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.2.9/web3.min.js"></script>
  <script src="../hako-address/Hako_abi.js"></script>
  <script src="../hako-address/Hako_address.js"></script>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
</head>
<body>
  <header>
    <div class="header-item">
      <div class="header-logo">
        <a href="../index.html">Hako Finance</a>
      </div>
      <p class="introduction">
        Transfer, get, lend, borrow, and credit creation, all transactions are realized on Hako Finance!<br>
        Welcome to next-generation DeFi!
      </p>
    </div>
  </header>
  <div class="container">
    <div class="transactions">
      <div class="transaction" id="lendCredit">
        <h2>lend credit</h2>
        <p>Lend your credit to another member account<br>
          (You can't lend more credit than the borrower registered and 
          you can't lend credit for more duration than the borrower registered.)</p>
        to who? <input class="question" type="text" name="to" v-model="to"><br>
        how much? <input class="question" type="text" name="value" v-model="value"><br>
        how long? <br>
        <input class="question duration" type="text" name="duration" v-model="days">days
        <input class="question duration" type="text" name="duration" v-model="hours">hours
        <input class="question duration" type="text" name="duration" v-model="minutes">minutes
        <input class="question duration" type="text" name="duration" v-model="seconds">seconds<br>
        <button class="button" @click="lendCreditCheck">check</button>
        <div v-show="isFill">
          <p class="okCheckSentence" v-show="ok && active" v-cloak>{{okCheckSentence}}</p>
          <p class="noCheckSentence" v-show="!ok && active" v-cloak>{{noCheckSentence}}</p>
          <button class="button" @click="lendCredit" v-show="ok && active">lend</button>
        </div>
        <p v-cloak>{{txStatus}}</p>
      </div>
    </div> 
  </div>
  <footer>
    <div class="footer-item">
      <div class="footer-link">
        <a href="https://twitter.com/hakofinance" target="_blank" class="footer-icon">
          <i class="fab fa-twitter fa-fw fa-lg"></i>
        </a>
        <a href="https://github.com/okada-shun/hako-finance" target="_blank" class="footer-icon">
          <i class="fab fa-github fa-fw fa-lg"></i>
        </a>
      </div>
      <small>© 2021 hako finance.</small>
    </div>
  </footer>
  <script>
    var hako;
    var userAccount;
    async function startApp() {
      hako = new web3.eth.Contract(hakoABI, hakoAddress);
      userAccount = await web3.eth.getCoinbase();
    }

    window.addEventListener('load', function () {
      if (typeof web3 !== 'undefined') {
        web3 = new Web3(window.ethereum);
        console.log('web3 created!');
      } else {
        alert('install wallet!');
        console.log('install wallet!');
      }
      startApp();
    });

    var lendCreditVM = new Vue({
      el: '#lendCredit',
      data: {
        to: '',
        value: '',
        duration: '',
        days: '',
        hours: '',
        minutes: '',
        seconds: '',
        memberOrNotOfTo: '',
        memberOrNotOfUser: '',
        creditToHakoOfUser: '',
        debtToHakoOfTo: '',
        borrowValueDurationOfTo: '',
        valueDuration: {
          value: '',
          duration: '',
          durationData: {
            days: '',
            hours: '',
            minutes: '',
            seconds: ''
          }
        },
        noCheckSentence: '',
        okCheckSentence: '',
        ok: false,
        active: false,
        txData: {
          to: 'initial',
          value: 'initial',
          days: 'initial',
          hours: 'initial',
          minutes: 'initial',
          seconds: 'initial'
        },
        durationData: {
          days: '',
          hours: '',
          minutes: '',
          seconds: ''
        },
        txStatus: ''
      },
      methods: {
        lendCreditCheck: async function() {
          if (this.active === true) {
            this.active = false;
            return;
          }
          this.ok = false;
          if (!this.to || !this.value) {
            this.noCheckSentence = "Please input a value!";
            this.txData.to = this.to;
            this.txData.value = this.value;
            this.txData.days = this.days;
            this.txData.hours = this.hours;
            this.txData.minutes = this.minutes;
            this.txData.seconds = this.seconds;
            this.active = true;
            return;
          }
          if (!this.days && !this.hours && !this.minutes && !this.seconds) {
            this.noCheckSentence = "Please input a value!";
            this.txData.to = this.to;
            this.txData.value = this.value;
            this.txData.days = this.days;
            this.txData.hours = this.hours;
            this.txData.minutes = this.minutes;
            this.txData.seconds = this.seconds;
            this.active = true;
            return;
          }
          if (isNaN(this.value) || isNaN(this.days) || isNaN(this.hours) || isNaN(this.minutes) || isNaN(this.seconds)) {
            this.noCheckSentence = "Please input a value as number!";
            this.txData.to = this.to;
            this.txData.value = this.value;
            this.txData.days = this.days;
            this.txData.hours = this.hours;
            this.txData.minutes = this.minutes;
            this.txData.seconds = this.seconds;
            this.active = true;
            return;
          }
          if (Number(this.value) <= 0 || Number(this.days) < 0 || Number(this.hours) < 0 || Number(this.minutes) < 0 || Number(this.seconds) < 0) {
            this.noCheckSentence = "Please input a value as positive number!";
            this.txData.to = this.to;
            this.txData.value = this.value;
            this.txData.days = this.days;
            this.txData.hours = this.hours;
            this.txData.minutes = this.minutes;
            this.txData.seconds = this.seconds;
            this.active = true;
            return;
          }
          if (Number(this.days) === 0 && Number(this.hours) === 0 && Number(this.minutes) === 0 && Number(this.seconds) === 0) {
            this.noCheckSentence = "Please input a duration as positive number!";
            this.txData.to = this.to;
            this.txData.value = this.value;
            this.txData.days = this.days;
            this.txData.hours = this.hours;
            this.txData.minutes = this.minutes;
            this.txData.seconds = this.seconds;
            this.active = true;
            return;
          }
          if (!Number.isInteger(Number(this.value)) || !Number.isInteger(Number(this.days)) || !Number.isInteger(Number(this.hours))
           || !Number.isInteger(Number(this.minutes)) || !Number.isInteger(Number(this.seconds))) {
            this.noCheckSentence = "Please input a value as integer!";
            this.txData.to = this.to;
            this.txData.value = this.value;
            this.txData.days = this.days;
            this.txData.hours = this.hours;
            this.txData.minutes = this.minutes;
            this.txData.seconds = this.seconds;
            this.active = true;
            return;
          }
          try {
            this.memberOrNotOfTo = await hako.methods.memberCheckOf(this.to).call();
          } catch (error) {
            this.noCheckSentence = "Please input an address exactly!";
            this.txData.to = this.to;
            this.txData.value = this.value;
            this.txData.days = this.days;
            this.txData.hours = this.hours;
            this.txData.minutes = this.minutes;
            this.txData.seconds = this.seconds;
            this.active = true;
            return;
          }
          this.duration = 
          Number(this.days) * 86400 + Number(this.hours) * 3600
           + Number(this.minutes) * 60 + Number(this.seconds);
          this.memberOrNotOfUser = await hako.methods.memberCheckOf(userAccount).call();
          this.creditToHakoOfUser = await hako.methods.creditToHakoOf(userAccount).call();
          this.debtToHakoOfTo = await hako.methods.debtToHakoOf(this.to).call();
          this.borrowValueDurationOfTo = await hako.methods.getBorrowValueDurationOf(this.to).call();
          this.valueDuration.value = this.borrowValueDurationOfTo['0'];
          this.valueDuration.duration = this.borrowValueDurationOfTo['1'];
          if (this.memberOrNotOfUser === '0') {
            this.noCheckSentence = 
            "NO! You are not a member! Non-member account can't lend credit!";
          } else if (this.to.toUpperCase() === userAccount.toUpperCase()) {
            this.noCheckSentence = 
            "NO! You can't lend your credit to yourself!";
          } else if (this.memberOrNotOfTo !== '1') {
            this.noCheckSentence = 
            "NO! <" + this.to + "> is not a member account! You can't lend your credit to non-member account!";
          } else if (Number(this.value) > Number(this.creditToHakoOfUser)) {
            this.noCheckSentence = 
            "NO! You have only " + this.creditToHakoOfUser + " credit! " + this.value + " is over!";
          } else if (this.debtToHakoOfTo !== '0') {
            this.noCheckSentence = 
            "NO! <" + this.to + "> has debt to Hako! You can't lend your credit to the account that has debt to Hako!";
          } else if (Number(this.value) > Number(this.valueDuration.value)) {
            this.noCheckSentence = 
            "NO! The borrower wants to borrow only " + this.valueDuration.value + " credit! " + this.value + " is over!";
          } else if (this.duration < Number(this.valueDuration.duration)) {
            this.arrangeDuration(this.duration);
            this.arrangeBorrowerDuration(Number(this.valueDuration.duration));
            this.noCheckSentence = 
            "NO! The borrower wants to borrow credit for "
              + this.valueDuration.durationData.days + " days " + this.valueDuration.durationData.hours + " hours "
              + this.valueDuration.durationData.minutes + " minutes " + this.valueDuration.durationData.seconds + " seconds ( = "
              + this.valueDuration.duration + " seconds) over! "
              + this.durationData.days + " days " + this.durationData.hours + " hours "
              + this.durationData.minutes + " minutes " + this.durationData.seconds + " seconds ( = "
              + this.duration + " seconds) is not enough!";
          } else {
            this.arrangeDuration(this.duration);
            this.okCheckSentence = 
            "OK! You lend " + this.value + " credit to <" + this.to + "> for "
              + this.durationData.days + " days " + this.durationData.hours + " hours "
              + this.durationData.minutes + " minutes " + this.durationData.seconds + " seconds ( = " + this.duration + " seconds)!";
            this.ok = true;
          }
          this.txData.to = this.to;
          this.txData.value = this.value;
          this.txData.days = this.days;
          this.txData.hours = this.hours;
          this.txData.minutes = this.minutes;
          this.txData.seconds = this.seconds;
          this.active = true;
        },
        arrangeDuration: function(duration) {
          let remainderA = duration % 86400;
          let quotientA = duration - remainderA;
          this.durationData.days = quotientA / 86400;
          let remainderB = remainderA % 3600;
          let quotientB = remainderA - remainderB;
          this.durationData.hours = quotientB / 3600;
          let remainderC = remainderB % 60;
          let quotientC = remainderB - remainderC;
          this.durationData.minutes = quotientC / 60;
          this.durationData.seconds = remainderC;
        },
        arrangeBorrowerDuration: function(duration) {
          let remainderA = duration % 86400;
          let quotientA = duration - remainderA;
          this.valueDuration.durationData.days = quotientA / 86400;
          let remainderB = remainderA % 3600;
          let quotientB = remainderA - remainderB;
          this.valueDuration.durationData.hours = quotientB / 3600;
          let remainderC = remainderB % 60;
          let quotientC = remainderB - remainderC;
          this.valueDuration.durationData.minutes = quotientC / 60;
          this.valueDuration.durationData.seconds = remainderC;
        },
        lendCredit: function() {
          this.txStatus = "Lending credit on the blockchain. This may take a while...";
          return hako.methods.lendCredit(this.to, Number(this.value), Number(this.duration))
            .send({ from: userAccount })
            .on("receipt", function (receipt) {
              lendCreditVM.txStatus = "";
              alert('Transaction successed!');
            })
            .on("error", function (error) {
              lendCreditVM.txStatus = "";
              alert('Transaction errored!');
            });
        }
      },
      computed: {
        isFill() {
          if (this.to === this.txData.to && this.value === this.txData.value
           && this.days === this.txData.days && this.hours === this.txData.hours
           && this.minutes === this.txData.minutes && this.seconds === this.txData.seconds) {
            return true;
          } else {
            this.active = false;
            return true;
          }
        }
      }
    });
  </script>
</body>
</html>