<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Register Borrowing</title>
  <link rel="stylesheet" href="../stylesheet.css">
  <link rel="icon" href="../hako_icon.png">
  <link href="https://fonts.googleapis.com/css?family=Londrina+Shadow" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.2.9/web3.min.js"></script>
  <script src="../hako-address/Hako_abi.js"></script>
  <script src="../hako-address/Hako_address.js"></script>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
</head>
<body>
  <header id="header">
    <header-component></header-component>
  </header>
  <div class="container">
    <div class="transactions">
      <div class="transaction" id="registerBorrowing">
        <h2>register borrowing</h2>
        <p>Register the credit value that you want to borrow from other member accounts, and
        register the duration that you want to borrow the credit for<br>
        (The upper limit value you can register is {{upperLimitValue}}.)<br>
        (You can't register more value than {{netAssetsValue}}, your net assets.)</p>
        how much? <input class="question" type="text" name="value" v-model="value"><br>
        how long? <br>
        <input class="question duration" type="text" name="duration" v-model="days">days
        <input class="question duration" type="text" name="duration" v-model="hours">hours
        <input class="question duration" type="text" name="duration" v-model="minutes">minutes
        <input class="question duration" type="text" name="duration" v-model="seconds">seconds<br>
        <button class="button" @click="registerBorrowingCheck">check</button>
        <div v-show="isFill">
          <p class="okCheckSentence" v-show="ok && active" v-cloak>{{okCheckSentence}}</p>
          <p class="noCheckSentence" v-show="!ok && active" v-cloak>{{noCheckSentence}}</p>
          <button class="button" @click="registerBorrowing" v-show="ok && active">register</button>
        </div>
        <p v-cloak>{{txStatus}}</p>
      </div>  
    </div> 
  </div>
  <footer id="footer">
    <footer-component></footer-component>
  </footer>
  <script src="../components/header.js"></script>
  <script src="../components/footer.js"></script>
  <script>
    var hako;
    var userAccount;
    async function startApp() {
      hako = new web3.eth.Contract(hakoABI, hakoAddress);
      userAccount = await web3.eth.getCoinbase();
      registerBorrowingVM.upperLimit = await hako.methods.upperLimit().call();
      registerBorrowingVM.upperLimitValue = Number(registerBorrowingVM.upperLimit).toLocaleString();
      registerBorrowingVM.balanceOfUser = await hako.methods.balanceOf(userAccount).call();
      registerBorrowingVM.creditToHakoOfUser = await hako.methods.creditToHakoOf(userAccount).call();
      registerBorrowingVM.debtToHakoOfUser = await hako.methods.debtToHakoOf(userAccount).call();
      registerBorrowingVM.creditToMemberOfUser = await hako.methods.creditToMemberOf(userAccount).call();
      registerBorrowingVM.debtToMemberOfUser = await hako.methods.debtToMemberOf(userAccount).call();
      registerBorrowingVM.netAssetsOfUser = 
      Number(registerBorrowingVM.balanceOfUser) + 
      Number(registerBorrowingVM.creditToHakoOfUser) - 
      Number(registerBorrowingVM.debtToHakoOfUser) + 
      Number(registerBorrowingVM.creditToMemberOfUser) - 
      Number(registerBorrowingVM.debtToMemberOfUser);
      registerBorrowingVM.netAssetsValue = registerBorrowingVM.netAssetsOfUser.toLocaleString();
    }

    window.addEventListener('load', function () {
      if (typeof web3 !== 'undefined') {
        web3 = new Web3(window.ethereum);
        console.log('web3 created!');
      } else {
        alert('install wallet!');
        console.log('install wallet!');
      }
      startApp();
    });

    var registerBorrowingVM = new Vue({
      el: '#registerBorrowing',
      data: {
        value: '',
        duration: '',
        days: '',
        hours: '',
        minutes: '',
        seconds: '',
        memberOrNotOfUser: '',
        balanceOfUser: '',
        creditToHakoOfUser: '',
        debtToHakoOfUser: '',
        creditToMemberOfUser: '',
        debtToMemberOfUser: '',
        netAssetsOfUser: '-',
        upperLimit: '-',
        netAssetsValue: '-',
        upperLimitValue: '-',
        noCheckSentence: '',
        okCheckSentence: '',
        ok: false,
        active: false,
        txData: {
          value: 'initial',
          days: 'initial',
          hours: 'initial',
          minutes: 'initial',
          seconds: 'initial'
        },
        durationData: {
          days: '',
          hours: '',
          minutes: '',
          seconds: ''
        },
        txStatus: ''
      },
      methods: {
        registerBorrowingCheck: async function() {
          if (this.active === true) {
            this.active = false;
            return;
          }
          this.ok = false;
          if (!this.value) {
            this.noCheckSentence = "Please input a value!";
            this.txData.value = this.value;
            this.txData.days = this.days;
            this.txData.hours = this.hours;
            this.txData.minutes = this.minutes;
            this.txData.seconds = this.seconds;
            this.active = true;
            return;
          }
          if (!this.days && !this.hours && !this.minutes && !this.seconds) {
            this.noCheckSentence = "Please input a value!";
            this.txData.value = this.value;
            this.txData.days = this.days;
            this.txData.hours = this.hours;
            this.txData.minutes = this.minutes;
            this.txData.seconds = this.seconds;
            this.active = true;
            return;
          }
          if (isNaN(this.value) || isNaN(this.days) || isNaN(this.hours) || isNaN(this.minutes) || isNaN(this.seconds)) {
            this.noCheckSentence = "Please input a value as number!";
            this.txData.value = this.value;
            this.txData.days = this.days;
            this.txData.hours = this.hours;
            this.txData.minutes = this.minutes;
            this.txData.seconds = this.seconds;
            this.active = true;
            return;
          }
          if (Number(this.value) <= 0 || Number(this.days) < 0 || Number(this.hours) < 0 || Number(this.minutes) < 0 || Number(this.seconds) < 0) {
            this.noCheckSentence = "Please input a value as positive number!";
            this.txData.value = this.value;
            this.txData.days = this.days;
            this.txData.hours = this.hours;
            this.txData.minutes = this.minutes;
            this.txData.seconds = this.seconds;
            this.active = true;
            return;
          }
          if (Number(this.days) === 0 && Number(this.hours) === 0 && Number(this.minutes) === 0 && Number(this.seconds) === 0) {
            this.noCheckSentence = "Please input a duration as positive number!";
            this.txData.value = this.value;
            this.txData.days = this.days;
            this.txData.hours = this.hours;
            this.txData.minutes = this.minutes;
            this.txData.seconds = this.seconds;
            this.active = true;
            return;
          }
          if (!Number.isInteger(Number(this.value)) || !Number.isInteger(Number(this.days)) || !Number.isInteger(Number(this.hours))
           || !Number.isInteger(Number(this.minutes)) || !Number.isInteger(Number(this.seconds))) {
            this.noCheckSentence = "Please input a value as integer!";
            this.txData.value = this.value;
            this.txData.days = this.days;
            this.txData.hours = this.hours;
            this.txData.minutes = this.minutes;
            this.txData.seconds = this.seconds;
            this.active = true;
            return;
          }
          this.duration = 
          Number(this.days) * 86400 + Number(this.hours) * 3600
           + Number(this.minutes) * 60 + Number(this.seconds);
          this.memberOrNotOfUser = await hako.methods.memberCheckOf(userAccount).call();
          if (this.memberOrNotOfUser === '0') {
            this.noCheckSentence = 
            "NO! You are not a member! Non-member account can't register!";
          } else if (this.debtToMemberOfUser !== '0') {
            this.noCheckSentence = 
            "NO! You are borrowing credit! You can't register unless you return all of your debt to creditor!";
          } else if (this.netAssetsOfUser <= 0) {
            this.noCheckSentence = 
            "NO! Your net assets is 0 or minus! You can't register any borrow value!";
          } else if (Number(this.value) > Number(this.upperLimit)) {
            this.noCheckSentence = 
            "NO! The upper limit is " + Number(this.upperLimit).toLocaleString() + "! You can't register more than "
              + Number(this.upperLimit).toLocaleString() + " credit!";
          } else if (Number(this.value) > this.netAssetsOfUser) {
            this.noCheckSentence = 
            "NO! Your net assets is only " + this.netAssetsOfUser.toLocaleString() + "! You can't register more than "
              + this.netAssetsOfUser.toLocaleString() + " credit!";
          } else {
            this.arrangeDuration(this.duration);
            this.okCheckSentence = 
            "OK! You register that you want to borrow " + Number(this.value).toLocaleString() + " credit for "
              + this.durationData.days + " days " + this.durationData.hours + " hours "
              + this.durationData.minutes + " minutes " + this.durationData.seconds + " seconds ( = "
              + this.duration.toLocaleString() + " seconds)!";
            this.ok = true;
          }
          this.txData.value = this.value;
          this.txData.days = this.days;
          this.txData.hours = this.hours;
          this.txData.minutes = this.minutes;
          this.txData.seconds = this.seconds;
          this.active = true;
        },
        arrangeDuration: function(duration) {
          let remainderA = duration % 86400;
          let quotientA = duration - remainderA;
          this.durationData.days = (quotientA / 86400).toLocaleString();
          let remainderB = remainderA % 3600;
          let quotientB = remainderA - remainderB;
          this.durationData.hours = (quotientB / 3600).toString();
          let remainderC = remainderB % 60;
          let quotientC = remainderB - remainderC;
          this.durationData.minutes = (quotientC / 60).toString();
          this.durationData.seconds = remainderC.toString();
        },
        registerBorrowing: function() {
          this.txStatus = "Registering borrow value and duration on the blockchain. This may take a while...";
          return hako.methods.registerBorrowing(Number(this.value), this.duration)
          .send({from: userAccount})
          .on("receipt", function(receipt) {
            registerBorrowingVM.txStatus = "";
            alert('Transaction successed!');
          })
          .on("error", function(error) {
            registerBorrowingVM.txStatus = "";
            alert('Transaction errored!');
          });
        }
      },
      computed: {
        isFill() {
          if (this.value === this.txData.value && this.days === this.txData.days
           && this.hours === this.txData.hours && this.minutes === this.txData.minutes
           && this.seconds === this.txData.seconds) {
            return true;
          } else {
            this.active = false;
            return true;
          }
        }
      }
    });
  </script>
</body>
</html>