<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Return Debt</title>
  <link rel="stylesheet" href="../stylesheet.css">
  <link rel="icon" href="../hako_icon.png">
  <link href="https://fonts.googleapis.com/css?family=Londrina+Shadow" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.2.9/web3.min.js"></script>
  <script src="../hako-address/Hako_abi.js"></script>
  <script src="../hako-address/Hako_address.js"></script>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
</head>
<body>
  <header>
    <div class="header-item">
      <div class="header-logo">
        <a href="../index.html">Hako Finance</a>
      </div>
      <p class="introduction">
        Transfer, get, lend, borrow, and credit creation, all transactions are realized on Hako Finance!<br>
        Welcome to next-generation DeFi!
      </p>
    </div>
  </header>
  <div class="container">
    <div class="transactions">
      <div class="transaction" id="returnDebtTo">
        <h2>return debt</h2>
        <p>Return your debt to the creditor account<br>
          (You can return your debt even if the borrow duration is yet to be passsed.)</p>
        <button class="button" @click="getDebtToMemberInfo">search</button><br>
        <p v-show="loading">Now searching your borrowing records...</p>
        <ul class="creditDebtInfo" v-for="lendRecord in lendRecordsOfUser" :key="lendRecord.id" v-show="lendRecordActive && !loading">
          <li v-cloak>{{lendRecord.id}}</li>
          <li v-cloak>{{lendRecord.creditor}}</li>
          <li v-cloak>{{lendRecord.value}}</li>
          <li v-cloak>{{lendRecord.duration}}</li>
          <li v-cloak>{{lendRecord.time}}</li>
          <li v-cloak>{{lendRecord.deadline}}</li>
          <li v-cloak>{{lendRecord.over}}</li>
        </ul>
        to who? <input class="question" type="text" name="creditor" v-model="creditor"><br>
        lending ID: <input class="question" type="text" name="id" v-model="id"><br>
        <button class="button" @click="returnDebtToCheck">check</button>
        <div v-show="isFill">
          <p class="okCheckSentence" v-show="ok && active" v-cloak>{{okCheckSentence}}</p>
          <p class="noCheckSentence" v-show="!ok && active" v-cloak>{{noCheckSentence}}</p>
          <button class="button" @click="returnDebtTo" v-show="ok && active">return</button>
        </div>
        <p v-cloak>{{txStatus}}</p>
      </div>
    </div> 
  </div>
  <footer>
    <div class="footer-item">
      <div class="footer-link">
        <a href="https://twitter.com/hakofinance" target="_blank" class="footer-icon">
          <i class="fab fa-twitter fa-fw fa-lg"></i>
        </a>
        <a href="https://github.com/okada-shun/hako-finance" target="_blank" class="footer-icon">
          <i class="fab fa-github fa-fw fa-lg"></i>
        </a>
        <a href="https://discord.gg/3hGkVqkqg9" target="_blank" class="footer-icon">
          <i class="fab fa-discord fa-fw fa-lg"></i>
        </a>
      </div>
      <small>© 2021 hako finance.</small>
    </div>
  </footer>
  <script>
    var hako;
    var userAccount;
    var event;
    async function startApp() {
      hako = new web3.eth.Contract(hakoABI, hakoAddress);
      userAccount = await web3.eth.getCoinbase();
    }

    window.addEventListener('load', function () {
      if (typeof web3 !== 'undefined') {
        web3 = new Web3(window.ethereum);
        console.log('web3 created!');
      } else {
        alert('install wallet!');
        console.log('install wallet!');
      }
      startApp();
    });

    var returnDebtToVM = new Vue({
      el: '#returnDebtTo',
      data: {
        event: '',
        loading: false,
        idList: [],
        lendRecordsOfUser: {
          0: {
            id: '',
            creditor: '',
            value: '',
            duration: '',
            durationData: {
              days: '',
              hours: '',
              minutes: '',
              seconds: ''
            },
            time: '',
            deadline: '',
            over: ''
          }
        },
        lendRecordActive: false,
        creditor: '',
        id: '',
        lendRecords: '',
        memberOrNotOfUser: '',
        debtToMemberOfUser: '',
        creditToHakoOfUser: '',
        noCheckSentence: '',
        okCheckSentence: '',
        ok: false,
        active: false,
        txData: {
          creditor: 'initial',
          id: 'initial',
        },
        txStatus: ''
      },
      methods: {
        getDebtToMemberInfo: async function() {
          if (this.lendRecordActive === true) {
            this.lendRecordActive = false;
            return;
          }
          if (this.event) {
            this.lendRecordActive = true;
            return;
          }
          this.loading = true;
          this.event = await hako.getPastEvents("LendCredit", {filter: {to: userAccount}, fromBlock: 0, toBlock: "latest"});
          for (let i = 0; i < this.event.length; i++) {
            let id = this.event[i].returnValues[4];
            let lendRecord = await hako.methods.getLendRecords(id).call();
            if (lendRecord[6] === '1') {
              this.idList.push(id);
            }
          }
          if (this.idList.length === 0) {
            this.lendRecordsOfUser[0].id = "ID: You're not borrowing credit!";
            this.lendRecordsOfUser[0].creditor = "Creditor: You're not borrowing credit!";
            this.lendRecordsOfUser[0].value = "Value: You're not borrowing credit!";
            this.lendRecordsOfUser[0].duration = "Duration: You're not borrowing credit!";
            this.lendRecordsOfUser[0].time = "Time: You're not borrowing credit!";
            this.lendRecordsOfUser[0].deadline = "Deadline: You're not borrowing credit!";
            this.lendRecordsOfUser[0].over = "You're not borrowing credit!";
            this.lendRecordActive = true;
            this.loading = false;
            return;
          }
          for (let j = 0; j < this.idList.length; j++) {
            let lendRecord = await hako.methods.getLendRecords(this.idList[j]).call();
            this.lendRecordsOfUser[j].id = "ID: " + lendRecord[0];
            this.lendRecordsOfUser[j].creditor = "Creditor: " + lendRecord[1];
            this.lendRecordsOfUser[j].value = "Value: " + lendRecord[3];
            this.arrangeDuration(Number(lendRecord[4]), j);
            this.lendRecordsOfUser[j].duration = "Duration: " + 
            this.lendRecordsOfUser[j].durationData.days + " days " + this.lendRecordsOfUser[j].durationData.hours + " hours " + 
            this.lendRecordsOfUser[j].durationData.minutes + " minutes " + this.lendRecordsOfUser[j].durationData.seconds + " seconds " + 
            "( = " + lendRecord[4] + " seconds)";
            this.lendRecordsOfUser[j].time = "Time: " + String(new Date(Number(lendRecord[5]) * 1000));
            this.lendRecordsOfUser[j].deadline = 
            "Deadline: " + String(new Date(Number(lendRecord[5]) * 1000 + Number(lendRecord[4]) * 1000));
            if (Number(new Date()) >= Number(lendRecord[5]) * 1000 + Number(lendRecord[4]) * 1000) {
              this.lendRecordsOfUser[j].over = 
              "Deadline has already passed! You can collect debt!";
            } else {
              this.lendRecordsOfUser[j].over = 
              "Deadline has not passed yet! You can't collect debt!";
            }
            if (j + 1 != this.idList.length) {
              this.lendRecordsOfUser[j + 1] = {
                id: '',
                creditor: '',
                value: '',
                duration: '',
                durationData: {
                  days: '',
                  hours: '',
                  minutes: '',
                  seconds: ''
                },
                time: '',
                deadline: '',
                over: ''
              }
            }
          }
          this.idList = [];
          this.lendRecordActive = true;
          this.loading = false;
        },
        arrangeDuration: function(duration, i) {
          let remainderA = duration % 86400;
          let quotientA = duration - remainderA;
          this.lendRecordsOfUser[i].durationData.days = quotientA / 86400;
          let remainderB = remainderA % 3600;
          let quotientB = remainderA - remainderB;
          this.lendRecordsOfUser[i].durationData.hours = quotientB / 3600;
          let remainderC = remainderB % 60;
          let quotientC = remainderB - remainderC;
          this.lendRecordsOfUser[i].durationData.minutes = quotientC / 60;
          this.lendRecordsOfUser[i].durationData.seconds = remainderC;
        },
        returnDebtToCheck: async function() {
          if (this.active === true) {
            this.active = false;
            return;
          }
          this.ok = false;
          if (!this.creditor || !this.id) {
            this.noCheckSentence = "Please input a value!";
            this.txData.creditor = this.creditor;
            this.txData.id = this.id;
            this.active = true;
            return;
          }
          if (isNaN(this.id)) {
            this.noCheckSentence = "Please input an id as number!";
            this.txData.creditor = this.creditor;
            this.txData.id = this.id;
            this.active = true;
            return;
          }
          if (Number(this.id) <= 0) {
            this.noCheckSentence = "Please input an id as positive number!";
            this.txData.creditor = this.creditor;
            this.txData.id = this.id;
            this.active = true;
            return;
          }
          if (!Number.isInteger(Number(this.id))) {
            this.noCheckSentence = "Please input an id as integer!";
            this.txData.creditor = this.creditor;
            this.txData.id = this.id;
            this.active = true;
            return;
          }
          try {
            await hako.methods.memberCheckOf(this.creditor).call();
          } catch (error) {
            this.noCheckSentence = "Please input an address exactly!";
            this.txData.creditor = this.creditor;
            this.txData.id = this.id;
            this.active = true;
            return;
          }
          try {
            this.lendRecords = await hako.methods.getLendRecords(this.id).call();
          } catch (error) {
            this.noCheckSentence = "Lending ID error! Make sure ID again!";
            this.txData.creditor = this.creditor;
            this.txData.id = this.id;
            this.active = true;
            return;
          }
          this.memberOrNotOfUser = await hako.methods.memberCheckOf(userAccount).call();
          this.debtToMemberOfUser = await hako.methods.debtToMemberOf(userAccount).call();
          this.creditToHakoOfUser = await hako.methods.creditToHakoOf(userAccount).call();
          if (this.memberOrNotOfUser === '0') {
            this.noCheckSentence = 
            "NO! You are not a member! Non-member account can't return debt!";
          } else if (this.debtToMemberOfUser === '0') {
            this.noCheckSentence = 
            "NO! You are not borrowing! You can't return debt!";
          } else if (Number(this.lendRecords['3']) > Number(this.creditToHakoOfUser)) {
            this.noCheckSentence = 
            "NO! You have only " + this.creditToHakoOfUser + " credit! " + this.lendRecords['3'] + " is over!";
          } else if (this.lendRecords['2'].toUpperCase() !== userAccount.toUpperCase()) {
            this.noCheckSentence = 
            "NO! You are not the debtor of this lending!";
          } else if (this.lendRecords['1'].toUpperCase() !== this.creditor.toUpperCase()) {
            this.checkSenoCheckSentencentence = 
            "NO! <" + this.creditor + "> is not the creditor of this lending!";
          } else if (this.lendRecords['6'] !== "1") {
            this.noCheckSentence = 
            "NO! Lending ID: " + this.id + " is wrong or this lending had already finished!";
          } else {
            this.okCheckSentence = "OK! You return " + this.lendRecords['3'] + " debt to <" + this.creditor + ">!";
            this.ok = true;
          }
          this.txData.creditor = this.creditor;
          this.txData.id = this.id;
          this.active = true;
        },
        returnDebtTo: function() {
          this.txStatus = "Returning debt to the creditor on the blockchain. This may take a while...";
          return hako.methods.returnDebtTo(this.creditor, Number(this.id))
          .send({from: userAccount})
          .on("receipt", function(receipt) {
            returnDebtToVM.txStatus = "";
            alert('Transaction successed!');
          })
          .on("error", function(error) {
            returnDebtToVM.txStatus = "";
            alert('Transaction errored!');
          });
        }
      },
      computed: {
        isFill() {
          if (this.creditor === this.txData.creditor && this.id === this.txData.id) {
            return true;
          } else {
            this.active = false;
            return true;
          }
        }
      }
    });
  </script>
</body>
</html>